<p>
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    {{atoms/-svg 'arrow-dashed'}}
  </span>
  {{@caption}}
  {{#if @credit}}
    <span class="o-credit">
      {{@credit}}
    </span>
  {{/if}}
</p>
