@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700);

body,
html,
input[type=email],
input[type=search],
input[type=tel],
input[type=text],
p {
  font-family: Lato, sans-serif !important;
}

.ember-basic-dropdown {
  position: relative;
}

.ember-basic-dropdown,
.ember-basic-dropdown-content,
.ember-basic-dropdown-content * {
  box-sizing: border-box;
}

.ember-basic-dropdown-content {
  position: absolute;
  width: auto;
  z-index: 1000;
  background-color: #fff;
}

.ember-basic-dropdown-content--left {
  left: 0;
}

.ember-basic-dropdown-content--right {
  right: 0;
}

.ember-basic-dropdown-overlay {
  position: fixed;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ember-basic-dropdown-content-wormhole-origin {
  display: inline;
}

.media-object {
  display: flex;
  align-items: flex-start;
}

.media-object.center {
  align-items: center;
}

.media-object.bottom {
  align-items: flex-end;
}

.media-object__media {
  margin-right: 30px;
}

.media-object__media>img {
  display: block;
}

.media-object__object {
  flex: 1;
}

.c-toggle-box__dropdown {
  padding: 8px;
}

:root {
  --brand-primary: #333;
  --brand-secondary: #98d2eb;
}

body,
html,
p {
  font-size: 1rem;
  line-height: 1.625;
}

a {
  color: var(--brand-secondary);
}

:not(.theme-typography)>h1:not(.o-headline),
:not(.theme-typography)>h2:not(.o-section-heading),
:not(.theme-typography)>h3,
:not(.theme-typography)>h4,
:not(.theme-typography)>h5,
:not(.theme-typography)>h6 {
  letter-spacing: initial;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

:not(.theme-typography)>h2 {
  font-size: 1.5em;
}

:not(.theme-typography)>h3 {
  font-size: 1.17em;
  font-weight: initial;
}

:not(.theme-typography)>h4 {
  font-size: 1rem;
}

.example-grid thead,
.example-label {
  font-size: 12px;
}

img {
  border-style: none;
}

.AddonDocs-DocsViewer-Nav {
  width: auto;
  padding-left: 0;
}

.docs-header>header>div {
  max-width: none;
}

.docs-header input[type=text] {
  font-size: 12px;
  padding: 8px 8px 8px 24px;
}

.example-grid {
  width: 100%;
  overflow: auto;
  margin: 0 0 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.example-grid tr {
  background-color: #fff;
}

.example-grid tbody>tr {
  border-top: 1px solid #c6cbd1;
}

.example-grid tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.example-grid td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.example-grid td>svg {
  height: 35px;
  max-width: 55px;
}

.example-grid td,
.example-grid th {
  text-align: center;
}

.example-grid td *,
.example-grid th * {
  vertical-align: middle;
}

svg {
  fill: inherit;
}

.btn {
  background-color: #eaeaea;
  padding: 8px 12px;
  color: #333;
}
