<svg role="img" class="o-bookmark-icon" fill="none" viewBox="4 4 16 16" width="40" height="40" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" ...attributes>
  <title>{{@title}}</title>
  <path d="M18.3905 3H5.62939L5.62956 21L12 16.5L18.3905 21V3Z" stroke="black" stroke-linejoin="round"/>
</svg>
