<svg role="img" class="o-simple-arrow-up-icon" viewBox="1 1 20 20" width="40" height="40" preserveAspectRatio="xMidYMid meet"  fill="none" xmlns="http://www.w3.org/2000/svg" ...attributes>
  <title>{{@title}}</title>
  <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M1.77754 6.72492C2.30036 6.21885 2.75785 6.72492 2.75785 6.72492L11.729 15.3985L20.275 7.13557C20.275 7.13557 20.8108 6.70588 21.2878 7.16745C21.7652 7.62863 21.2878 8.27288 21.2878 8.27288L11.7129 17.5L1.6308 7.75204C1.6308 7.75204 1.25492 7.23022 1.77754 6.72492Z" fill="black"/>
</svg>