<label for="search" class="is-vishidden">Search this site</label>
{{#if @close}}
  <NyprAButton @blank={{true}} @onclick={{action doClose}} class="c-search__close o-icon">
    <NyprASvg @icon='close'/>
  </NyprAButton>
{{/if}}

{{input
  name="search"
  type="search"
  class="c-search__input"
  placeholder="Search"
  value=this.value
}}

<button
  role="button"
  type="submit"
  class="o-button o-button--c-quaternary c-search__button"
  data-test-inline-search-submit>
  <span class="c-search__icon o-icon o-icon--search u-icon--xs">
    <NyprASvg @icon='search'/>
  </span>
  <span class="is-vishidden">Search</span>
</button>
