<NyprAButton @blank={{true}} @onclick={{@onclick}} class="c-search-toggle" name="searchIconHeader" aria-expanded={{ariaExpanded}}>
  <span class="c-search-toggle__icon o-icon o-icon--search u-icon--xs">
    <NyprASvg @icon='search'/>
  </span>
</NyprAButton>
