@function hex2rgb($hexColor) {
  @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

:root {
  /* Theme Color Palette */

  /* Neutrals */
  --color-black:               #{hex2rgb(#000000)};
  --color-dark-gray:           #{hex2rgb(#333333)};
  --color-gray:                #{hex2rgb(#afafaf)};
  --color-light-gray:          #{hex2rgb(#f3f3f3)};
  --color-white:               #{hex2rgb(#ffffff)};

  /* Forms */
  --color-valid:               #{hex2rgb(#089E00)};

  /* Brand Colors */
  --color-brick-red:           #{hex2rgb(#9c1e14)};
  --color-reddish-orange:      #{hex2rgb(#de5e36)};
  --color-banana-yellow:       #{hex2rgb(#ffc400)};
  --color-taxicab-yellow:      #{hex2rgb(#e3d54a)};
  --color-dusk-blue:           #{hex2rgb(#244c84)};
  --color-brown-grey:          #{hex2rgb(#939393)};
  --color-dirty-salmon:        #{hex2rgb(#f0eeea)};
  --color-purple:              #{hex2rgb(#924db1)};
}

@mixin color-group-light {
  --color-primary-1:            var(--color-banana-yellow);
  --color-primary-2:            var(--color-reddish-orange);
  --color-primary-3:            var(--color-purple);
  --color-background:           var(--color-white);
  --color-background-muted:     var(--color-dirty-salmon);
  --color-background-highlight: var(--color-taxicab-yellow);
  --color-text:                 var(--color-dark-gray);
  --color-text-print:           var(--color-black);
  --color-text-muted:           var(--color-gray);
  --color-text-error:           var(--color-brick-red);
  --color-text-valid:           var(--color-valid);
  --color-text-inverse:         var(--color-white);
  --color-text-metadata:        var(--color-dark-gray);

  /* Links */
  --color-link:                  var(--color-brick-red);
  --text-decoration-link:        underline;
  --color-link-hover:            var(--color-white);
  --color-link-hover-background: var(--color-reddish-orange);
  --text-decoration-link-hover:  underline;
  --opacity-link-hover:          var(--opacity-hover);

  /* Navigation Links */
  --color-navigation-link:                 var(--color-reddish-orange);
  --text-decoration-navigation-link:       none;
  --color-navigation-link-hover:           var(--color-white);
  --text-decoration-navigation-link-hover: none;
  --opacity-navigation-link-hover:         var(--opacity-hover);

  /* Header */
  --color-header-text:              var(--color-white);
  --color-header-background:        var(--color-dark-gray);
  --color-header-label-text:        var(--color-light-gray);
  --color-header-button-background: var(--color-reddish-orange);
  --color-header-button-text:       var(--color-white);
  --color-header-button-hover-text: var(--color-white);
  --color-header-icon:              var(--color-white);
  --color-header-icon-hover:        var(--color-reddish-orange);

  /* Tags */
  --color-tag-text:             var(--color-dusk-blue);
  --color-tag-background:       var(--color-banana-yellow);
  --color-tag-highlight:        var(--color-dusk-blue);
  --color-tag-hover-text:       var(--color-white);
  --color-tag-hover-background: var(--color-reddish-orange);
  --opacity-tag-hover:          var(--opacity-hover);

  /* Buttons */
  --color-button-primary:         var(--color-banana-yellow);
  --color-button-primary-hover:   var(--color-banana-yellow);
  --color-button-primary-pressed: var(--color-banana-yellow);
  --opacity-button-primary-hover: var(--opacity-hover);
  --color-button-outline:         var(--dark-gray);
  --color-button-outline-hover:   var(--dark-gray);
  --color-button-outline-pressed: var(--dark-gray);
  --opacity-button-outline:       var(--opacity-hover);

  /* Borders */
  --color-border-subtle:    var(--color-gray);
  --color-border-standard:  var(--color-dark-gray);
  --color-border-bold:      var(--color-reddish-orange);

  /* Forms */
  --color-checkbox:               var(--color-dark-gray);
  --color-placeholder-text:       var(--color-brown-grey);
  --color-form-button:            var(--color-reddish-orange);

  /* Lists */
  --color-bullet: var(--color-black);

  /* Pull Quotes */
  --color-pull-quote-text: var(--color-brown-grey);

  /* Gallery */
  --color-gallery-link:       var(--color-white);
  --color-gallery-link-hover: var(--color-reddish-orange);
  --color-gallery-ad-label:   var(--color-dirty-salmon);

  /* Footer */
  --color-footer-text: var(--color-white);
  --color-footer-link: var(--color-white);
}

@mixin color-group-dark {
  --color-primary-1:            var(--color-banana-yellow);
  --color-primary-2:            var(--color-reddish-orange);
  --color-primary-3:            var(--color-purple);
  --color-background:           var(--color-dark-gray);
  --color-background-muted:     rgb(var(--color-background));
  --color-background-highlight: var(--color-taxicab-yellow);

  --color-text:                 var(--color-white);
  --color-text-print:           var(--color-black);
  --color-text-muted:           var(--color-gray);
  --color-text-error:           var(--color-brick-red);
  --color-text-valid:           var(--color-valid);
  --color-text-inverse:         var(--color-dark-gray);
  --color-text-metadata:        var(--color-white);

  /* Links */
  --color-link:                 var(--color-white);
  --text-decoration-link:       underline;
  --color-link-hover:           var(--color-white);
  --text-decoration-link-hover: underline;
  --opacity-link-hover:         var(--opacity-hover);

  /* Navigation Links */
  --color-navigation-link:                 var(--color-white);
  --text-decoration-navigation-link:       none;
  --color-navigation-link-hover:           var(--color-white);
  --text-decoration-navigation-link-hover: none;
  --opacity-navigation-link-hover:         var(--opacity-hover);

  /* Header */
  --color-header-text:              var(--color-white);
  --color-header-background:        var(--color-dark-gray);
  --color-header-label-text:        var(--color-light-gray);
  --color-header-button-background: var(--color-reddish-orange);
  --color-header-button-text:       var(--color-white);
  --color-header-button-hover-text: var(--color-white);
  --color-header-icon:              var(--color-white);
  --color-header-icon-hover:        var(--color-reddish-orange);

  /* Tags */
  --color-tag-text:             var(--color-dusk-blue);
  --color-tag-background:       var(--color-banana-yellow);
  --color-tag-highlight:        var(--color-dusk-blue);
  --color-tag-hover-text:       var(--color-white);
  --color-tag-hover-background: var(--color-reddish-orange);
  --opacity-tag-hover:          var(--opacity-hover);

  /* Buttons */
  --color-button-primary:         var(--color-banana-yellow);
  --color-button-primary-hover:   var(--color-banana-yellow);
  --color-button-primary-pressed: var(--color-banana-yellow);
  --opacity-button-primary-hover: var(--opacity-hover);
  --color-button-outline:         var(--dark-gray);
  --color-button-outline-hover:   var(--dark-gray);
  --color-button-outline-pressed: var(--dark-gray);
  --opacity-button-outline:       var(--opacity-hover);

  /* Borders */
  --color-border-bold:          var(--color-border-bold);      //none
  --color-border-standard:      var(--color-border-standard);  //none
  --color-border-subtle:        var(--color-border-subtle);    //none

  /* Forms */
  --color-checkbox:         var(--color-dark-gray);
  --color-placeholder-text: var(--color-brown-grey);
  --color-form-button:      var(--color-reddish-orange);

  /* Lists */
  --color-bullet: var(--color-black);

  /* Pull Quotes */
  --color-pull-quote-text: var(--color-brown-grey);

  /* Gallery */
  --color-gallery-link:       var(--color-white);
  --color-gallery-link-hover: var(--color-reddish-orange);
  --color-gallery-ad-label:   var(--color-dirty-salmon);

  /* Footer */
  --color-footer-text: var(--color-white);
  --color-footer-link: var(--color-white);
}

/*  Base */
:root {
  @include color-group-light;

  /* Borders */
  --border-subtle: 2px dashed rgb(var(--color-border-subtle));
  --border-standard: 3px solid  rgb(var(--color-border-standard));
  --border-bold:   5px dashed rgb(var(--color-border-bold));
}

/*Dark and Light Groups */
.u-color-group-dark {
  @include color-group-dark;

}
.u-color-group-light {
  @include color-group-light;
}


