/*------------------------------------*\
    $THEME OVERRIDES
\*------------------------------------*/

pre,
blockquote {
  border: 1px solid rgb(var(--color-brown-grey));
}

.c-article__body blockquote {
  border: none;
}

.c-main-header {
  @include color-group-dark;

  &.side-menu-is-active {
    .c-main-header__branding {
      opacity: 0;
    }
  }

  .c-share-tools__label {
    color: rgb(var(--color-white));
  }
}

// Header with full stacked logo
.c-main-header--emphasis {
  .c-main-header__ad-unit {
    padding-bottom: var(--space-2);

    @include media('>medium') {
      padding-bottom: 30px;
    }
  }

  &:not(.out-of-viewport) .c-primary-nav--top {
    @include media('>xxlarge') {
      padding-left: 166px;
    }
  }

  &:not(.out-of-viewport) .c-main-header__branding {
    width: 110px;
    position: relative;
    bottom: calc(var(--space-3) * -1);
    align-self: flex-bottom;
    z-index: $z-index-heading-logo;
    left: var(--space-2);
    opacity: 1;
    transition: var(--animation-duration-fast) var(--animation-easing-incoming);

    @include media('>medium') {
      width: 135px;
      bottom: calc(var(--space-2) * -1);
    }

    @include media('>xlarge') {
      left: calc(var(--grid-col-width) + var(--grid-gutter));
    }

    --xl-container: calc(var(--max-width-xl) + var(--space-5));
    @include media('>xxlarge') {
      position: absolute;
      bottom: -43px;
      left: calc(50% - var(--xl-container) / 2 + var(--space-5));
    }
  }

  .gothamist-letters {
    fill: rgb(var(--color-black));
  }

  .gothamist-buildings {
    fill: rgb(var(--color-white));
  }
}

.c-main-footer {
  @include color-group-dark;

  .gothamist-letters {
    fill: rgb(var(--color-white));
  }

  .gothamist-buildings {
    fill: rgb(var(--color-dark-gray));
  }

  .c-newsletter-form {
    @include color-group-light;
  }
}

/* sponsored tags */
.o-tag--sponsored {
  font-weight: normal;
}

.o-tag--sponsored,
.o-kicker--sponsored {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-purple));
}


.u-has-accent .u-has-accent--secondary {
  color: rgb(var(--color-brick-red));
}

.c-donate-tout__graphic path {
  fill: rgb(var(--color-dusk-blue));
}

.c-toggle-box .c-toggle-box__label {
  @include color-group-dark
}

// Standard repeating dashed border
.o-border-accent {
  background-image: repeating-linear-gradient(to right, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to right, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
}

// Buttons
.o-button {
  color: rgb(var(--color-dark-gray));
  font-weight: bold;
  transition: all var(--animation-duration-standard) var(--animation-easing-standard);
  text-transform: uppercase;
}

.o-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: $z-index-button-outline;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(var(--color-button-primary));
  border-color: rgb(var(--color-button-primary));
  transform: translate(0, 0);
  transition: all var(--animation-duration-standard) var(--animation-easing-standard);
}

.o-button:hover {
  color: rgb(var(--color-dark-gray));
  transform: translate(10px, -10px);
}

.o-button:hover:before {
  transform: translate(-10px, 10px);
}

.o-button.mod-donate {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-reddish-orange));

  &:hover {
    background-color: rgb(var(--color-reddish-orange));
  }

  &:active {
    background-color: rgb(var(--color-reddish-orange));
  }
}

.o-button.mod-donate:before {
  border: 3px solid rgb(var(--color-reddish-orange));
  border-color: rgb(var(--color-reddish-orange));
}

// Link styles
@mixin dotted-underline($color) {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px dotted rgb(var($color));
  box-decoration-break: clone;
}

// Headline link
.c-block__title a {
  color: rgb(var(--color-text));
  transition: none;
  text-decoration: none;
}

.c-block__title a:hover {
  color: rgb(var(--color-reddish-orange));
  text-decoration: underline;
  text-decoration-style: dotted;
}

// Top Navigation
.c-primary-nav--top .c-primary-nav__link:hover {
  color: rgb(var(--color-reddish-orange));
}

// Side Navigaton
.c-primary-nav--side .c-primary-nav__link {
  padding-bottom: 2px;
  color: rgb(var(--color-banana-yellow));
  @include dotted-underline(--color-banana-yellow);

  &:hover, &:focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-reddish-orange));
  }
}

.c-secondary-nav .c-secondary-nav__link {
  color: rgb(var(--color-white));
  @include dotted-underline(--color-white);

  &:hover, &:focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-reddish-orange));
  }
}

.c-side-menu {
  @include color-group-dark;
}

.c-side-menu__terms-links a,
.c-main-footer__terms-links a {
  color: rgb(var(--color-banana-yellow));
  text-decoration: none;
  text-transform: uppercase;

  &:hover, &:focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-reddish-orange));
  }
}

// Read More Links
.c-read-more-nav__link {
  font-family: var(--font-family-pragati);
  color: rgb(var(--color-reddish-orange));
  @include dotted-underline(--color-reddish-orange);

  &:hover, &:focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-reddish-orange));
  }
}

// brand navigation links
.c-nypr-nav__link {
  font-family: var(--font-family-pragati);
  color: rgb(var(--color-brick-red));
  @include dotted-underline(--color-brick-red);

  &:hover, &:focus {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-reddish-orange));
  }
}

// Highlight headline link when hovering card image
.c-block__media:hover + .c-block__object .c-block__title-link,
.c-block__media:hover .c-block__title-link {
  color: rgb(var(--color-reddish-orange));
  text-decoration: underline;
  text-decoration-style: dotted;
}

// homepage newsletter signup
.c-newsletter-tout__heading strong {
  background-image: linear-gradient(rgba(36,76,132,0.2), rgba(36,76,132,0.2));
  background-position: center bottom .2em;
  background-size: 100% .55em;
  background-repeat: no-repeat;
  padding: 0 8px;
  box-decoration-break: clone;
  margin-left: -8px;
}

.c-newsletter-tout__dek {
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-6);
}

.c-newsletter-form__terms a {
  color: rgb(var(--color-white));
  border-bottom: 2px dotted rgb(var(--color-white));
}

// footer newsletter signup
footer .c-newsletter-form__terms a {
  color: rgb(var(--color-text));
  border-bottom: 2px dotted rgb(var(--color-text));
}

// article page credit
.o-caption__text > span a {
  text-decoration: none;
}

// article page newsletter signup
.c-newsletter-article__heading {
  font-family: var(--font-family-pragati);
}

.c-newsletter-form__terms a {
  color: rgb(var(--color-text));
  border-bottom: 2px dotted rgb(var(--color-text));
}

// advertisement label
.o-ad__label {
  text-transform: uppercase;
}

// view all button on gallery
.c-lead-gallery__thumbs-thumb-text {
  text-transform: uppercase;
}

// gallery title text
.o-back-to-link {
  font-family: var(--font-family-pragati);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// gallery share text
.o-text-with-icon {
  font-family: var(--font-family-b612);
}

// gallery slide count text
.c-slide__count {
  font-family: var(--font-family-b612);
  text-transform: uppercase;
}

// staff page
.o-rte-text > h3 {
  font-weight: normal;
}

// article page image caption arrow icon
.image-none i {
  font-family: var(--font-family-barlow);
  line-height: var(--line-height-2);
}
