{{#if displayImage}}
    <div class='up-next-image'>
        <img
            alt="image for {{airing.showTitle}}"
            src={{airing.show.image.url}}>
    </div>
{{/if}}
<div class='up-next-label up-next'>up next</div>
<div class='up-next-label on-now'>on now</div>
<div class='up-next-show-title'>{{airing.showTitle}}</div>
<div class='up-next-time'>{{time}}</div>
