{{#component @button class="c-toggle-box__label o-text-with-icon"}}
  {{yield}}

  {{#if (eq @icon 'caret-down')}}
    <span class="o-icon o-icon--caret u-icon--xs">
      <NyprASvg @icon={{@icon}} />
    </span>
  {{/if}}
{{/component}}
