{{#component @button class="c-toggle-box__label" tagName=
  'button'}}
  <span class="o-text-with-icon" aria-label={{@ariaLabel}}>
    {{yield}}

    {{#if (eq @icon 'simple-arrow-down')}}
      <span class="o-icon o-icon--caret u-icon--xs">
        <Icon @icon={{@icon}} @title="open drop down menu" />
      </span>
    {{/if}}
  </span>
{{/component}}
