{{!-- BEGIN-SNIPPET nypr-o-header-leaderboard.hbs --}}
<div class="o-ad o-ad--leaderboard">
  {{yield}}
</div>
<span class="o-ad__label u-font--secondary-style u-font--xs u-color--gray">Advertisement</span>
{{!-- END-SNIPPET --}}
