{{!-- BEGIN-SNIPPET nypr-o-header-nav.hbs --}}
<ul>
  {{#each @navItems as |item|}}
    <li class="c-primary-nav__item">
      {{#link-to params=item.route class=(concat 'c-primary-nav__link ' @linkClass)}}
        {{item.text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{!-- END-SNIPPET --}}
