@import '../vars/colors';
@import '../vars/z-index';
@import '../vars/fonts';
@import '../mixins/buttons';
@import '../mixins/text';
@import '../mixins/utils';
@import '../mixins/disable-subpixel-antialiasing';

.site-header .sticky-element {
  z-index: 200;
}

.horizontal-nav {
  display: flex;
  position: relative;
  overflow: hidden;
}

.donate-button-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2%;
  padding-right: 2%;
}

.horizontal-nav-container.is-sticky {
  background-color: $denim-blue;
  z-index: 100;

  .horizontal-nav__nav {
    margin-top: 10px;
  }
}

.static-main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px $blueblood;
}

.static-main-header .col {
  flex: 1;

  .wqxr-icon {
    float: right;
    margin-top: 10px;

    &:hover {
      opacity: 0.8;
    }
  }

  button {
    color: white;
    border-color: white;
  }
}

.site-header-title-logo {
  display: inline;
}

.horizontal-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.live-nyc-txt {
  font-family: $font-body-bold;
  font-size: 10px;
  color: $blueblood;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 2px 10px 2px 10px;
  width: fit-content;
  width: -moz-max-content;
}

_:-ms-lang(x), .live-nyc-txt {
  display: table;
}

.donate-button {
  font-family: $font-body;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border-color: white;
  border-radius: 25px;
  border: 2px solid;
  height: 30px;
  width: 140px;
  line-height: 1;

  &:hover {
    opacity: 100%;
    color: $denim-blue;
    background: white;
    border-color: white;
  }
}

.donate-button-opacity:hover {
  opacity: 100%;
  color: $denim-blue;
  background: white;
  border-color: white;
  border-radius: 30px;
  padding-top: 4px;
  padding-bottom: 7px;
  transition: all 200ms ease-out;
}

* {
  box-sizing: border-box;
}

.col {
  padding: 16px;
}

@include media ("<=small") {

  .site-header-title-logo {
    max-width: 60%;
  }

  .donate-button-link {
    padding-right: 4%;
  }
  .donate-button {
    width: 80px;

    &:hover {
      opacity: 100%;
      color: $denim-blue;
      background: white;
      border-color: white;
    }
  }
}

  .static-main-header {
    display: block;

    .col {
      width: 100%;
      margin: 0 0 10px;
    }
  }

  .header:not(.button) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .static-main-header .col .wqxr-icon {
    float: left;
  }

  .col {
    padding: 20px 10px 5px 10px;
  }

  #wqxr-logo {
    margin: 0px;
  }

  #live-nyc-txt-box {
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
  }

  .static-main-header {
    padding-left: 2%;
  }

  .donate-button-link {
    padding-top: 40px;
  }

/* masks for fading scrollable edge */
.horizontal-nav.is-left-scrollable {
  .horizontal-nav__container {
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, black 80px);
  }
}

.horizontal-nav.is-right-scrollable {
  .horizontal-nav__container {
    -webkit-mask-image: -webkit-linear-gradient(right, transparent, black 80px);
  }
}

.horizontal-nav.is-left-scrollable.is-right-scrollable {
  .horizontal-nav__container {
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, black 80px, black 50%, transparent 50%), -webkit-linear-gradient(right, transparent, black 80px, black 50%, transparent 50%);
  }
}

.horizontal-nav__container {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  box-shadow: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.horizontal-nav__nav {
  margin-top: 40px;
  position: relative;
  white-space: nowrap;
  margin-bottom: 14px;

  .sliding-bar {
    top: 24px;
    @include media(">=medium") {
      top: 24px;
    }
  }
}

.horizontal-nav__button {
  @include button_pristine;
  position: absolute;
  top: 0;
  width: 36px;
  padding: 15px 0;
  transition: all 200ms ease-out;

  svg {
    width: 11px;
    height: 20px;
    stroke: #fff;
    fill: #fff;
  }

  &:hover {
    svg {
      opacity: 0.6;
    }
  }
}

.horizontal-nav__button--left {
  left: 0;
  text-align: left;
}

.horizontal-nav__button--right {
  right: 0;
  text-align: right;
}

.horizontal-nav__button--hidden {
  opacity: 0;
  pointer-events: none;
}

.horizontal-nav__list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-nav__list-item {
  display: inline-block;
  margin-right: 15px;
  padding: 0.5rem 0 0;
  @include media(">=xsmall") {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.horizontal-nav__list-item > a {
  @include disable-subpixel-antialiasing;
  line-height: 0.8;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  font-size: 12px;
  @include media(">=medium") {
    font-size: 18px;
    height: 18px;
  }
}

.horizontal-nav__list-item > a {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.horizontal-nav__link {
  color: $c-gray--dark;
  display: block;
  transition: font-size 125ms ease, color 125ms ease;
  font-weight: 600;
  border: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  @include media(">=xsmall") {
    font-size: 16px;
  }
  @include media(">=medium") {
    font-size: 14px;
  }
  @include media(">=large") {
    font-size: 16px;
  }

  &:hover {
    color: $c-denim-blue;
  }
}
