<svg class="{{this.class}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Comment Icon</title>
  <path d="M26.62,1.43H3.38A3.36,3.36,0,0,0,0,4.81V19.49a3.36,3.36,0,0,0,3.38,3.37h8.67a1.12,1.12,0,0,1,.54.16l9.48,5.41a1,1,0,0,0,1.42-.4,1,1,0,0,0,.13-.51V23.93a1,1,0,0,1,1-1h2A3.36,3.36,0,0,0,30,19.55V4.81A3.36,3.36,0,0,0,26.62,1.43Zm-18,12.86a2.14,2.14,0,1,1,2.14-2.14A2.14,2.14,0,0,1,8.57,14.29Zm6.43,0a2.14,2.14,0,1,1,2.14-2.14A2.14,2.14,0,0,1,15,14.29Zm6.43,0a2.14,2.14,0,1,1,2.14-2.14A2.14,2.14,0,0,1,21.43,14.29Z" />
</svg>
