<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>LinkedIn Icon</title>
  <path d="M28.63-1H1.37A2.33,2.33,0,0,0-1,1.29V28.71A2.33,2.33,0,0,0,1.37,31H28.63A2.33,2.33,0,0,0,31,28.71V1.29A2.33,2.33,0,0,0,28.63-1ZM8.7,25.79H3.87V11.34H8.7V25.79ZM6.28,9.37h0a2.51,2.51,0,1,1,.06-5,2.51,2.51,0,1,1,0,5ZM26.13,25.79H21.31V18.06c0-1.94-.71-3.28-2.46-3.28a2.63,2.63,0,0,0-2.48,1.77,3.38,3.38,0,0,0-.16,1.17v8.07H11.38s.06-13.1,0-14.45h4.83v2.05A4.81,4.81,0,0,1,20.56,11c3.19,0,5.57,2.07,5.57,6.5v8.29ZM16.18,13.44a.13.13,0,0,1,0,0v0Z" />
</svg>
