<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>YouTube Icon</title>
  <path d="M29.37,7.75a3.76,3.76,0,0,0-2.65-2.67C24.38,4.45,15,4.45,15,4.45s-9.38,0-11.72.63A3.76,3.76,0,0,0,.63,7.75,39.4,39.4,0,0,0,0,15a39.4,39.4,0,0,0,.63,7.27,3.71,3.71,0,0,0,2.65,2.63c2.34.63,11.72.63,11.72.63s9.38,0,11.72-.63a3.71,3.71,0,0,0,2.65-2.63A39.4,39.4,0,0,0,30,15,39.4,39.4,0,0,0,29.37,7.75ZM11.93,19.48V10.56L19.77,15l-7.84,4.46Z" />
</svg>
