@mixin typeface($type, $size) {
  font-family: var(--font-family-#{$type});
  letter-spacing: var(--letter-spacing-#{$type});
  font-weight: var(--font-weight-#{$type});

  line-height: var(--line-height-#{$size});
  font-size: var(--font-size-#{$size});
}
