@mixin typeface($type, $size) {
  font-family: var(--font-family-#{$type});
  letter-spacing: var(--letter-spacing-#{$type});
  font-weight: var(--font-weight-#{$type});

  line-height: var(--line-height-#{$type}-#{$size});
  font-size: var(--font-size-#{$type}-#{$size});

  @include media("<medium") {
    line-height: var(--line-height-#{$type}-#{$size - 2});
    font-size: var(--font-size-#{$type}-#{$size - 2});
  }
}
