/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: $c-link-color;
  transition: all 0.15s ease-in-out;
}

a > span {
    transition: all 0.15s ease-in-out;
  }

.u-has-accent,
.o-rte-text .u-has-accent {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px dotted $c-body-color;
  box-decoration-break: clone;
}

.u-has-accent:hover, .o-rte-text .u-has-accent:hover {
    color: $c-white;
    background-color: $c-primary;
  }

.u-has-accent--neutral, .o-rte-text .u-has-accent--neutral {
    color: $c-body-color;
    border-bottom-color: $c-body-color;
  }

.u-has-accent--primary, .o-rte-text .u-has-accent--primary {
    color: $c-primary;
    border-bottom-color: $c-primary;
  }

.u-has-accent--quaternary, .o-rte-text .u-has-accent--quaternary {
    color: $c-quaternary;
    border-bottom-color: $c-quaternary;
  }

.u-has-accent--white, .o-rte-text .u-has-accent--white {
    color: $c-white;
    border-bottom-color: $c-white;
  }

.u-has-accent--secondary, .o-rte-text .u-has-accent--secondary {
    color: $c-secondary;
    border-bottom-color: $c-secondary;
  }

.u-has-accent--secondary:hover path, .o-rte-text .u-has-accent--secondary:hover path {
        fill: $c-white;
      }

.u-has-accent-inline {
  @include inline-accent;
}
