/*------------------------------------*\
    $SITE MAIN
\*------------------------------------*/

body {
  background: rgb(var(--color-background));
  font: 400 100%/1.3 var(--font-family-body);
  -webkit-text-size-adjust: 100%;
  color: rgb(var(--color-text));
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.side-menu-is-active {
  overflow: hidden;
}
