/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1,
.o-heading--xxl {
  font-family: $ff-font--primary;
  font-size: $font-size-xl;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: bold;

  @include media('>large') {
    font-size: $font-size-xxl;
  }
}

h2,
.o-heading--xl {
  font-family: $ff-font--primary;
  font-size: $font-size-l;
  line-height: 1.15;
  font-weight: bold;

  @include media('>large') {
    font-size: $font-size-xl;
  }
}

h3,
.o-heading--l {
  font-family: $ff-font--primary;
  font-size: $font-size-l;
  line-height: 1.25;
}

h4,
.o-heading--m {
  font-family: $ff-font--primary;
  font-size: $font-size-m;
  line-height: 1.35;
}

h5,
.o-heading--s {
  font-family: $ff-font;
  font-size: $font-size-s;
}

h6,
.o-heading--xs {
  font-family: $ff-font;
  font-size: $font-size-xs;
}
