/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: var(--color-text-error);
  transition: all 0.15s ease-in-out;
}

a > span {
  transition: all 0.15s ease-in-out;
}

.u-has-accent,
.o-rte-text .u-has-accent {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px dotted var(--color-border-bold);
  box-decoration-break: clone;
}

.u-has-accent:hover,
.o-rte-text .u-has-accent:hover {
  color: var(--color-background);
  background-color: var(--color-primary2);
}

.u-has-accent--neutral,
.o-rte-text .u-has-accent--neutral {
  color: var(--color-border-bold);
  border-bottom-color: var(--color-border-bold);
}

.u-has-accent--primary,
.o-rte-text .u-has-accent--primary {
  color: var(--color-primary2);
  border-bottom-color: var(--color-primary2);
}

.u-has-accent--quaternary,
.o-rte-text .u-has-accent--quaternary {
  color: var(--color-primary1);
  border-bottom-color: var(--color-primary1);
}

.u-has-accent--white,
.o-rte-text .u-has-accent--white {
  color: var(--color-background);
  border-bottom-color: var(--color-background);
}

.u-has-accent--secondary,
.o-rte-text .u-has-accent--secondary {
  color: var(--color-text-error);
  border-bottom-color: var(--color-text-error);
}

.u-has-accent--secondary:hover path,
.o-rte-text .u-has-accent--secondary:hover path {
  fill: var(--color-background);
}

.u-has-accent-inline {
  @include inline-accent;
}
