/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/

.c-main {
  padding-top: $space-double;
  padding-bottom: $space-double;
}

.c-welcome-page {
  background-color: $c-black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://nypr.southleft.com/images/radial-assets/bg-texture.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: $space;

  &__logo {
    max-width: 500px;
    max-height: 500px;
    min-width: 430px;
    min-height: 430px;
    width: 100%;
    height: 100%;
  }

  &__start {
    display: block;
    width: 40px;
    transform: translateY(0) rotate(90deg);
    bottom: $space-double;
    left: calc(50% - 10px);
    fill: $c-white;
    position: absolute;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: translateY(4px) rotate(90deg);
    }
  }
}

/**
 * Ad styling (only for prototyping)
 */
.o-ad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &__label {
    margin-top: $space-half;
    display: block;
    text-align: right;
    width: 100%;
    color: $c-gray--dark;
  }

  // Standard 300x250
  &--300x250,
  &--300x600-flex {
    width: 300px;
  }

  // Billboard progression
  &--billboard {
    width: 320px;

    @include media('>750px') {
      width: 728px;
    }

    @include media('>1000px') {
      width: 970px;
    }
  }

  // Sponsored ad
  &-sponsored {

    .o-ad__label {
      display: block;
      text-align: left;
      margin-bottom: $space-half;

      @include media('>medium') {
        margin-bottom: $space;
      }
    }

    &__unit {
      display: inline-block;
      margin-right: $space-and-half;
      margin-bottom: $space;
      vertical-align: middle;
      max-width: 160px;

      @include media('>medium') {
        margin-right: $space-double;
      }
    }

    &--inline {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: $space;

      .o-ad-sponsored__unit {
        margin: 0;
      }

      .o-ad__label {
        width: auto;
        margin: 0 5px 2px 0;
      }
    }
  }
}

.annotation-tip {
  color: $c-white;
  background-color: $c-primary;
  padding: 3px;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


/**
 * Style Guide
 */
.c-style-guide {
  padding: $space-quad 0;
}

.o-sg-section {
  &__content {
    p {
      font-size: $font-size-s;
    }
  }
}

.c-swatch {
  border: $border-style-thick;

  &__color {
    height: 150px;
    position: relative;
  }

  &-a11y {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 7px 2px 0;
    display: flex;

    &__item {
      margin-left: $space-quarter;
      text-align: center;
      width: 25px;
    }

    &__letter {
      text-transform: uppercase;
      font-size: $font-size-l;
      display: inline-block;
      padding: 0 4px;
      line-height: 1;
      color: $c-white;

      &--bg {
        background-color: $c-white;
      }
    }

    &__check {
      background-color: $c-white;
      display: inline-block;
      width: 12px;
      height: 12px;
      position: relative;

      svg {
        min-width: 14px;
        min-height: 14px;
        left: 1px;
        bottom: 1px;
        display: block;
        position: absolute;
        fill: $c-gray--dark;
      }
    }
  }

  &__details {
    padding: $space;
  }
}

.c-color-bars {
  border: $border-style-thick;
}
.c-color-bar {
  padding: $space;
  display: flex;
  justify-content: space-between;
}

// Typography
.c-font-block {
  width: 100%;

  &__inner {
    padding: $space;
    display: flex;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__free-type {
    font-size: $font-size-xxl;
    line-height: 1;
    margin-bottom: $space-double;
  }

  &__letter {
    font-size: 117px;
    line-height: .8;
    align-self: flex-end;
    text-align: right;
    width: 100%;
    max-width: 95px;
    min-width: 95px;
  }
}
