/*------------------------------------*\
    $ARTICLE & RELATED COMPONENTS
\*------------------------------------*/

.c-article {
  height: 100%;

  &__header .u-has-accent,
  &__body a,
  &__body .u-has-accent,
  &__footer .o-rte-text a {
    text-decoration: underline;
    text-underline-position: under;
    border-bottom: none;

    &:hover {
      text-decoration-color: $c-link-color;
    }
  }

  &__header {
    padding-top: $space-double;

    @include media('<=large') {
      max-width: ($col-width * 10) + ($gutter * 8) + px;
    }
  }

  &__meta-group {
    > * {
      display: inline-block;
    }

    .o-icon {
      vertical-align: text-bottom;
    }
  }

  &__lead {
    position: relative;

    .o-figure {
      @include media('<=medium') {
        margin-left: -$space;
        margin-right: -$space;
      }
    }
  }

  &__body {
    .twitter-tweet p {
      word-break: break-word;
    }
  }

  &__read-more {
    padding-top: $space;

    @include media('>medium') {
      padding-top: $space-double;
    }
  }
}


/**
 * Share tools
 */
.c-article__share {
  @include media('<=medium') {
    background: none;
    margin-bottom: $space-and-half;
    margin-left: -6px; // Arbitrary number to adjust for left alignment - https://cl.ly/4286d2bc8efc
  }

  @include media('>medium') {
    width: $col-width + px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -($col-width * 2) + ($gutter * 2) + px;
  }
}

/**
 * Related content
 */
.c-related-content {
  padding: $space-quarter 0 $space-half $space;
}

.c-article__related {
  a {
    font-family: $ff-font--primary;
    display: inline;
    line-height: 1.35;
  }

  &--small-screens {

    .c-related-content {
      margin: $space-double 0;
    }

    a {
      font-size: $font-size-s-m;
      line-height: 1.2;
    }

    @include media('>xlarge') {
      display: none;
    }

  }

  &--wide-screens {
    display: none;

    @include media('>xlarge') {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      max-width: ($col-width * 3) + ($gutter * 2) + px;
    }
  }
}

 // Donate tout
.c-article__donate {
  &.this-is-active {
    display: none;
  }
}


/**
 * Article with overlay gallery (see _module.gallery.scss for gallery styles)
 */
.c-article__gallery {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  z-index: $z-index-article-gallery;
  height: 0;
  opacity: 0;
  transform: translateX(0);
  transition: transform .2s ease .5s, opacity .2s ease;
}

// Gallery is active
.gallery-is-active {
  .c-article__gallery {
    transform: translateX(100%);
    height: auto;
    opacity: 1;
    top: 0;
    transition: opacity .2s ease;
  }

  .c-article {
    overflow: hidden;
    height: 0;
    transition: height .0s linear .5s;
  }

  .c-article__donate {
    display: none;
  }
}
