/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.c-main-footer {
  padding: var(--space-5);
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));

  @include media(">xlarge") {
    padding: var(--space-5) 0;
  }
}

.c-main-footer a,
.c-main-footer a:visited,
.c-main-footer a:active {
  color: rgb(var(--color-link));
  text-decoration: var(--text-decoration-navigation-link);

  &:hover {
    color: rgb(var(--color-link-hover), var(--opacity-link-hover));
    text-decoration: var(--text-decoration-navigation-link-hover);
  }
}

.c-main-footer__inner {
  @include media(">xlarge") {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.c-main-footer__col1 {
  width: 100%;
  max-width: 548px;
  margin-left: auto;
  margin-right: auto;
}

.c-main-footer__branding {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include media(">xlarge") {
    justify-content: flex-start;
  }
}

.c-main-footer svg {
  fill: rgb(var(--color-text));
}

.c-main-footer a svg {
  fill: rgb(var(--color-text));
}

.c-main-footer a:hover svg {
  fill: rgba(var(--color-navigation-link-hover), var(--opacity-navigation-link-hover));
}


.c-main-footer__logo {
  min-width: 150px;
  max-width: 150px;
  margin-right: var(--space-4);

  @include media(">small") {
    margin-right: var(--space-7);
  }
}

.c-main-footer__slogan p {
  @include typeface(body, 6);
}

.c-main-footer__utility {
  @include media("<=small") {
    margin-bottom: -18px;
  }
}

.c-main-footer__nav {
  @include media("<=medium") {
    text-align: center;
  }
}

.c-main-footer__primary-nav {
  @include media("<=medium") {
    text-align: center;
  }
}

.c-main-footer .c-main-footer__primary-nav .c-secondary-nav__item {
  @include media("<xlarge") {
    text-align: left;
  }
}

.c-main-footer .c-main-footer__social {
  margin: auto;
}

.c-main-footer .c-share-tools__label {
  @include typeface(body, 5);
  text-align: center;
  @include media(">medium") {
    text-align: left;
  }
}

.c-main-footer .c-share-tools__group {
  margin: auto;
  @include media(">medium") {
    margin: initial;
  }
}

.c-main-footer .c-secondary-nav__subheader {
  @include typeface(subheader, 7);
  font-weight: normal;
}

.c-main-footer__nav .c-secondary-nav__item {
  display: inline-block;
  margin: 0 var(--space-3) var(--space-4) 0;

  @include media("<=medium") {
    margin: 0 var(--space-3) var(--space-4);
  }
}

.c-main-footer__nav .c-secondary-nav__item:not(:last-child) {
  @include media(">xlarge") {
    margin-right: var(--space-5);
  }
}

.c-main-footer__nav .c-secondary-nav__link {
  padding: var(--space-2) 0;
}

.c-main-footer__nypr-logo {
  width: 120px;
  margin: 0 auto var(--space-3);

  @include media(">xlarge") {
    margin: 0 var(--space-5) 0 0;
  }
}

.c-main-footer__nypr-logo path,
.c-main-footer__nypr-logo polygon {
  fill: rgb(var(--color-text));
}

.c-main-footer__brand-group {
  text-align: center;

  @include media(">xlarge") {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.c-main-footer .c-toggle-box__content {
  min-width: 320px;
  max-width: 400px;
  width: 100%;
}

.c-main-footer__bottom {
  padding: var(--space-4) var(--space-3);
  text-align: center;
  margin-left: calc(var(--space-3) * -1);
  margin-right: calc(var(--space-3) * -1);

  @include media(">xlarge") {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.c-main-footer__bottom p {
  @include typeface(body, 6);
}

.c-main-footer__copyright {
  @include media(">large") {
    margin-right: var(--space-4);
  }
}

.c-main-footer__terms-links {
  @include typeface(subheader, 5);
  @include media(">=medium") {
    @include typeface(subheader, 7);
  }
  font-weight: normal;

  @include media("<=large") {
    margin-top: var(--space-2);
  }
}

.c-main-footer__terms-links a {
  @include typeface(body, 6);
  padding: 8px 0;
  font-weight: normal;
  display: block;

  @include media(">large") {
    margin: 0 var(--space-4) 0 0;
    display: inline-block;
  }
}

.c-main-footer .c-toggle-box__label {
  text-transform: none;
}

.c-main-footer .c-main-footer__nav .c-secondary-nav__item {
  font-size: var(--font-size-6);
}

.c-main-footer .c-main-footer__secondary-nav .c-secondary-nav__item {
  display: block;
  margin-bottom: var(--space-2);
  font-size: var(--font-size-6);
}

// view all brands
.c-main-footer .o-text-with-icon {
  font-size: var(--font-size-3);
}
