/*------------------------------------*\
    $COLOR MODIFIERS
\*------------------------------------*/

/**
 * Text Colors
 */
.u-color--black,
.u-color--black a {
  color: rgb(var(--color-black));
}

.u-color--black-transparent {
  color: rgba(var(--color-black), 0.7);
}

.u-color--gray,
.u-color--gray a {
  color: rgb(var(--color-gray));
}

.u-color--gray--light,
.u-color--gray--light a {
  color: rgb(var(--color-light-gray));
}

.u-color--meta,
.u-color--meta a {
  color: rgb(var(--color-text-metadata));
}

.u-color--primary,
.u-color--primary a {
  color: rgb(var(--color-primary-1));
}

.u-color--secondary,
.u-color--secondary a {
  color: rgb(var(--color-sec));
}

.u-color--senary,
.u-color--senary a {
  color: rgb(var(--color-dusk-blue));
}

.u-color--septenary,
.u-color--septenary a {
  color: rgb(var(--color-brown-grey));
}

/**
 * Background Colors
 */
.u-background-color--none {
  background: none;
}

.u-background-color--black {
  background-color: rgb(var(--color-black));
}

.u-background-color--gray {
  background-color: rgb(var(--color-gray));
}

.u-background-color--gray--light {
  background-color: rgb(var(--color-light-gray));
}

.u-background-color--white {
  background-color: rgb(var(--color-white));
}

.u-background-color--primary {
  background-color: rgb(var(--color-primary-1));
}

.u-background-color--secondary {
  background-color: rgb(var(--color-brick-red));
}

.u-background-color--quinary {
  background-color: rgb(var(--color-taxicab-yellow));
}

/**
 * SVG Fill Colors
 */
.u-path-fill--black * {
  fill: rgb(var(--color-black));;
}

.u-path-fill--gray * {
  fill: rgb(var(--color-gray));
}

.u-path-fill--white * { //nyprds gallery overlay
  fill: rgb(var(--color-white));
}

.u-path-fill--primary * {
  fill: rgb(var(--color-primary-1));
}

.u-path-fill--secondary * {
  fill: rgb(var(--color-brick-red));
}

.u-path-fill--quaternary * { //used in gothamist
  fill: rgb(var(--color-taxicab-yellow));
}
