.on-air-now {
    background-color: #EAEFF0;

    display: flex;
    justify-content: center;
    padding: 24px;
    z-index: 1;
    @include media("<medium") {
      width: 100%;
      padding: 0px;
    }
    @include media("<medium") {
      padding-left: 0;
      padding-right: 0;
    }
  
    .on-air-now-upper {
      @include media("<medium") {
        display: flex;
        flex-direction: column;
        margin-top: 106px;
        margin-bottom: 24px;
        justify-content: center;
        align-items: center;
      }
  
      > .show-image {
        max-height: 100px;
        max-width: 100px;
        filter: grayscale(100%);
        margin: 11px auto 10px auto;
        display: block;
  
        //img {
        //  border-radius: 50%;
        //}
  
        @include media(">=medium") {
          display: none;
        }
      }
    }
  
    .on-air-now-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 16px;
      width: 51px;
      background-color: #ffffff;
      border-radius: 4px;
      letter-spacing: 1px;
      
      //margin-right: 0;
      //@include media("<medium") {
      //  margin-left: auto;
      //  margin-bottom: 10px;
      //  margin-right: auto;
      //}
    }

    .on-air-now-label-text {
      text-transform: uppercase;
      color: #333333;
      font-family: var(--font-family-body);
      font-weight: bold;
      font-style: normal;
      font-size: 10px;
      margin-right: 4px;
      line-height: 16px;
      letter-spacing: 2px;
    }

    .on-air-now-label-dot {
      background-color: #1277c4;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: #E74F4F;
    }
  
    .on-air-now-inner {
      @include media(">medium") {
        display: flex;
      }
  
      .show-image {
        height: 244px;
        width: 244px;
        object-fit: cover;
        filter: grayscale(100%);
        display: block;
        margin-right: 35px;
        @include media("<medium") {
          display: none;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }
  
        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }
    }
  
    .label-title {
      @include media("<medium") {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  
    .show-title {
      color: #235B9C;
      font-family: var(--font-family-header);
      font-size: 28.8325px;
      line-height: 43px;
      margin-bottom: 8px;
      margin-top: 12px;
      margin-right: 16px;
      margin-left: 16px;
      text-align: center;
      //@include media("<medium") {
        //font-size: 28px;
        //line-height: 38px;
        //text-align: center;
      //}
    }
  
    .message-the-show {
      display: flex;
      margin-top: 12px;
      margin-bottom: 20px;
      @include media("<medium") {
        justify-content: center;
      }
    }
  
    .message-the-show-toggle-box {
      display: inline-flex;
  
      .toggle-box__label {
        display: flex;
        align-content: center;
        justify-content: center;
      }
  
      > button:focus {
        outline: none;
      }
  
      > button {
        border: none;
        padding-left: 6px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        line-height: 14px;
  
        @include media("<medium") {
          padding-left: 0px;
        }
      }
  
      .u-icon--xs {
        height: 12px;
        fill: #235B9C;
        margin-left: 4px;
        margin-top: 3px;
  
        path {
          fill: #235B9C;
        }
      }
    }
  
    .message-the-show-title {
      color: #235B9C;
      font-family: "OpenSans-Bold", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12.64px;
      line-height: 20px;
      letter-spacing: 1.6px;
    }
  }

  .listen-message-the-show-popup {
    // using negative to correct the padding of parent element, which does not
    // have a class name specific to the 'Message the Show' popup
    margin: -1px -6px;
  
    .c-share-tools__group {
      margin-top: 0px;
    }
  
    .c-share-tools__link {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      text-decoration: none;
      font-weight: normal;
  
      &:first-child {
        margin-top: 0px;
      }
  
      width: 100%;
      height: 100%;
  
      svg {
        height: 12px;
        width: 12px;

        * {
          fill: #fff;
        }
      }
  
      .c-share-tools__link-title {
        color: #ffffff;
        font-family: $font-body-bold;
        font-size: 12px;
        letter-spacing: 1.2px;
        margin-left: 8px;
        text-transform: uppercase;
      }
    }
  }

  .listen-play-button {
    width: 185px;
    height: 45px;
    background-color: #235B9C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;

    .play-button {
      align-items: center;
      margin-left: 10px;

      svg {
        max-height: 54px;
        max-width: 54px;
      }

      div {
        color: #fff;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.6px;
        text-transform: capitalize;
      }
    }
  }
  
  