.nypr-o-audio-player {
  background-color: rgb(var(--color-background));
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  color: #FFF;
  height: 112px;
  padding: 8px;
  position: fixed;
  width: 100%;
  z-index: 1200;
}

.nypr-o-audio-player .secondary-metadata-toggle-box {
  width: 100%;
}

.nypr-o-audio-player .nypr-o-audio-player-thumbnail {
  display: none;
  @include media(">=medium") {
    display: block;
    flex: 0 0 96px;
    align-self: center;
    width: 96px;
    height: 96px;
    margin-right: 16px;
  }
}

.nypr-audio-player .whats-on-info {
  flex: 1;
  overflow: hidden;
}

.nypr-o-audio-player .whats-on-live-indicator {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  letter-spacing: 1px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  margin-bottom: 8px;

  .whats-on-live-indicator-text,
  .whats-on-live-indicator-station {
    @include typeface(body, 1);

    color: rgb(var(--color-text));
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    margin-right: 4px;
    text-transform: uppercase;
  }

  .whats-on-live-indicator-station {
    font-weight: normal;
    margin-left: 4px;
    font-feature-settings: "lnum";
  }

  .whats-on-live-indicator-dot {
    background-color: #E74F4F;
    border-radius: 8px;
    height: 8px;
    width: 8px;
  }
}

.nypr-o-audio-player-level-one-four {
  width: 100%;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: span 3;
  justify-self: left;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;

  @include media(">=medium") {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 3;
    justify-self: right;
  }
}

.nypr-o-audio-player-play-button {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 4;
  justify-self: flex-end;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 48px;

  @include media(">=medium") {
    grid-column-end: 3;
    margin: 0;
    width: 55px;
  }
}

.nypr-o-audio-player-controls {
  display: flex;
  flex: 1;

  align-items: center;
  background-color: rgb(var(--color-background));
  bottom: 0;
  height: 100%;
  justify-content: flex-end;

  .nypr-player-volume-slider-track::after {
    z-index: 0;
  }

  .nypr-player-volume-control {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 16px;
    top: 0;
  }

  .nypr-player-volume-slider-wrapper {
    height: 30px;
  }

  .nypr-player-volume.is-muted {
    .mod-volume-unmuted {
      display: none;
    }

    .mod-volume-muted {
      display: inline-block;
    }
  }

  .nypr-player-volume {
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 64px;
    @include media("<medium") {
      display: none;
    }

    .mod-volume-unmuted {
      display: inline-block;
    }

    .mod-volume-muted {
      display: none;
    }
  }

  .nypr-player-button {
    appearance: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    height: 100%;
    padding: 0 13px;
    position: relative;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .nypr-player-button.mod-volume {
    align-items: center;
    display: flex;
    padding: 0;
    flex-basis: 0;
    height: 100%;
    justify-content: center;
    margin-right: -5px;
    min-width: 50px;
    order: -1;
    position: relative;
    text-align: center;

    svg {
      width: 33px;
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

.nypr-o-audio-player-level-two-three {
  align-content: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 3;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  margin-top: -5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium") {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    margin-top: 0px;
  }
}

.nypr-o-audio-player-level-two-three .toggle-box__label {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  min-width: 30%;
  text-align: left;
}

.nypr-o-audio-player-level-one {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium") {
    text-align: right;
  }
}

.nypr-o-audio-player-level-one h2 {
  @include typeface(body, 9);
  line-height: 1.5;
  font-weight: 700;
  margin: 2px 0 4px;
  a {
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

.nypr-o-audio-player-level-two {
  font-family: 'Libre Baskerville', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.nypr-o-audio-player-level-three {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Open Sans;
  font-size: 12.642px;
  font-weight: normal;
  white-space: normal;
  width: 100%;

  @include toggleBoxCaret(8px, #FFF);

  a {
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  .toggle-box__icon {
    height: 8px;
  }
}

.nypr-o-audio-player-level-three .nypr-o-audio-player-level-three-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.nypr-o-audio-player-level-three.nypr-o-audio-player-level-two-visible .nypr-o-audio-player-level-three-text {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
}
