// variables pulled from nypr-jukeboxes -- replace with design system variables
$white: #fff;
$denim-blue: #00518e;
$font-heading: "Playfair Display";
$font-body-bold: "OpenSans-Bold", sans-serif;
$font-body: "OpenSans-Regular", sans-serif; 

$nypr-player-primary-color                   : $white;
$nypr-player-background-color                : darken($denim-blue, 2%);
$nypr-player-accent-color                    : $white;

$nypr-player-button-color                    : $white;
$nypr-player-button-hover-color              : rgba($white, 0.8);
$nypr-player-button-active-color             : $white;
$nypr-player-slider-handle-color             : $white;

$nypr-player-info-text-color                 : $white;
$nypr-player-link-underline-color            : $white;
$nypr-player-timelabel-color                 : $white;
$nypr-player-timelabel-total-color           : rgba($white, 0.6);

$nypr-player-backdrop-color                  : rgba($white, 0.75);
$nypr-player-progress-played-color           : $white;
$nypr-player-progress-downloaded-color       : darken($denim-blue, 20%);

.nypr-o-audio-player {
  background-color: $nypr-player-background-color!important;
  bottom: -5px;
  box-sizing: border-box;
  display: grid;
  color: #FFF;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 33% 33% 33%;
  height: 85px;
  padding: 10px 15px 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 1200;

  @include media('>=medium') {
    grid-template-columns: calc(50% - 45px) 90px calc(50% - 90px);
    grid-template-rows: 33% 33% 33%;
  }
}

.nypr-o-audio-player .secondary-metadata-toggle-box {
  width: 100%;
}

.nypr-o-audio-player-level-one-four {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  justify-self: left;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;

  @include media(">=medium") {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    justify-self: right;
  }
}

.nypr-o-audio-player-play-button {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  justify-self: flex-start;
  margin: 0;
  text-align: center;
  width: 48px;

  @include media(">=medium") {
    grid-column-end: 3;
    justify-self: center;
    margin: 0 20px;
    width: 55px;
  }
}

.nypr-o-audio-player-controls {
  @include media("<medium") {
    display: none;
  }

  align-items: center;
  background-color: $nypr-player-background-color;
  bottom: 0;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  .nypr-player-volume-slider-track::after {
    z-index: 0;
  }

  .nypr-player-volume-control {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -20px;
    padding-right: 10px;
  }

  .nypr-player-volume-slider-wrapper {
    height: 30px;
  }

  .nypr-player-volume.is-muted {
    .mod-volume-unmuted {
      display: none;
    }
    .mod-volume-muted {
      display: inline-block;
    }
  }

  .nypr-player-volume {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    @include media("<medium") {
      margin-right: -10px;
    }

    .mod-volume-unmuted {
      display: inline-block;
    }
    .mod-volume-muted {
      display: none;
    }
  }

  .nypr-player-button.mod-volume {
    align-items: center;
    display: flex;
    flex-basis: 0;
    justify-content: center;
    margin-right: -5px;
    order: -1;
    text-align: center;

    svg {
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

.nypr-o-audio-player-level-two-three {
  align-content: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 3;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  margin-top: -5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium"){
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    margin-top: 0px;
  }
}

.nypr-o-audio-player-level-two-three .toggle-box__label {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  min-width: 30%;
  text-align: left;
}

.nypr-o-audio-player-level-one {
  font-family: $font-body-bold;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 13px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium") {
    text-align: right;
  }
}

.nypr-o-audio-player-level-two {
  font-family: 'Libre Baskerville', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.nypr-o-audio-player-level-three {
  font-family: Open Sans;
  font-size: 12.642px;
  font-weight: normal;
  white-space: normal;
  width: 100%;

  @include toggleBoxCaret(8px, #FFF);
}

.nypr-o-audio-player-level-three.nypr-o-audio-player-level-two-visible .nypr-o-audio-player-level-three-text {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}
