.nypr-o-main-audio-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .live {
    align-items: center;
    background-color: rgb(var(--color-background));
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 16px;
    justify-content: center;
    letter-spacing: 1px;
    margin-bottom: 8px;
    width: 51px;
    
    .text {
      @include typeface(body, 1);

      color: rgb(var(--color-text));
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 16px;
      margin-right: 4px;
      text-transform: uppercase;
    }
  
    .dot {
      background-color: #E74F4F;
      border-radius: 8px;
      height: 8px;
      width: 8px;
    } 
  }

  .on-air-image {
    border: 1px solid rgb(var(--color-text-muted));
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    margin-bottom: 24px;
    max-height: 328px;
    max-width: 328px;
  }

  .play-button {
    align-items: center;
    background-color: rgb(var(--color-primary-2));
    margin-bottom: 24px;
    padding-right: 20px;

    svg {
      max-height: 54px;
      max-width: 54px;
    }

    div {
      color: rgb(var(--color-background));
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1.6px;
      text-transform: capitalize;
    }
  }

  .title {
    @include typeface(header, 10);

    color: rgb(var(--color-primary-2));
    font-weight: normal;
    margin-bottom: 8px;
    text-align: center;
  }

  .description {
    color: rgb(var(--color-text));
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14.22px;
    margin-bottom: 24px;
  }

  .episode-content {
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    .description {
      align-items: center;
      background-image: linear-gradient(#EAEFF0,#EAEFF0);
      background-position: 7px top;
      background-repeat: no-repeat;
      background-size: 2px 50%;
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
      padding-top: 20px;

      .dot {
        background-color: rgb(var(--color-primary-1));
        border-radius: 8px;
        height: 16px;
        margin-right: 10px;
        min-width: 16px;
      }

      .text {
        color: rgb(var(--color-text));;
        font-family: Open Sans;
        font-size: 12.6px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    width: 100%;

    .metadata {
      align-items: center;
      background-color: rgb(var(--color-background-muted));
      display: flex;
      flex-direction: row;
      padding: 10px;

      .image {
        background: rgb(var(--color-cool-white));
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
        height: 48px;
        margin-right: 10px;
        max-height: 48px;
        max-width: 48px;
        min-height: 48px;
        min-width: 48px;
      }

      .title-outer {
        flex: 1;

        .label {
          color: rgb(var(--color-primary-1));
          font-family: Open Sans;
          font-size: 11.237px;
          font-style: normal;
          font-weight: bold;
          letter-spacing: 1.2px;
          line-height: 16px;
          text-transform: uppercase;
        }

        .title {
          color: rgb(var(--color-text-metadata));
          display: flex;
          font-family: Open Sans;
          font-size: 14.2px;
          font-style: normal;
          font-weight: bold;
          line-height: 19px;
          text-align: left;
        }
      }

      .time {
        align-self: flex-end;
        color: rgb(var(--color-text-muted));
        font-family: Open Sans;
        font-size: 11.237px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        min-width: 60px;
        text-align: right;
      }
    }

    .full-schedule-button {
      background: rgb(var(--color-primary-2));
      color: rgb(var(--color-text-inverse));
      font-family: Open Sans;
      font-size: 12.64px;
      font-style: normal;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
