.nypr-o-audio-player {
  background-color: rgb(var(--color-primary-1));
  bottom: -5px;
  box-sizing: border-box;
  display: grid;
  color: #FFF;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 33% 33% 33%;
  height: 85px;
  padding: 10px 15px 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 1200;

  @include media('>=medium') {
    grid-template-columns: calc(50% - 45px) 90px calc(50% - 90px);
    grid-template-rows: 33% 33% 33%;
  }
}

.nypr-o-audio-player .secondary-metadata-toggle-box {
  width: 100%;
}

.nypr-o-audio-player-level-one-four {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  justify-self: left;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;

  @include media(">=medium") {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    justify-self: right;
  }
}

.nypr-o-audio-player-play-button {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  justify-self: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 48px;

  @include media(">=medium") {
    grid-column-end: 3;
    justify-self: center;
    margin: 0 20px;
    width: 55px;
  }
}

.nypr-o-audio-player-controls {
  @include media("<medium") {
    display: none;
  }

  align-items: center;
  background-color: rgb(var(--color-primary-1));
  bottom: 0;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  .nypr-player-volume-slider-track::after {
    z-index: 0;
  }

  .nypr-player-volume-control {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    margin-right: -20px;
    outline: 0;
    padding-right: 10px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  }

  .nypr-player-volume-slider-wrapper {
    height: 30px;
  }

  .nypr-player-volume.is-muted {
    .mod-volume-unmuted {
      display: none;
    }
    .mod-volume-muted {
      display: inline-block;
    }
  }

  .nypr-player-volume {
    display: flex;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    @include media("<medium") {
      margin-right: -10px;
    }

    .mod-volume-unmuted {
      display: inline-block;
    }
    .mod-volume-muted {
      display: none;
    }
  }

  .nypr-player-button {
    appearance: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    height: 100%;
    padding: 0 13px;
    position: relative;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .nypr-player-button.mod-volume {
    align-items: center;
    display: flex;
    flex-basis: 0;
    height: 100%;
    justify-content: center;
    margin-right: -5px;
    min-width: 50px;
    order: -1;
    outline: 0;
    position: relative;
    text-align: center;

    svg {
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

.nypr-o-audio-player-level-two-three {
  align-content: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 3;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  margin-top: -5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium"){
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    margin-top: 0px;
  }
}

.nypr-o-audio-player-level-two-three .toggle-box__label {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  line-height: 1.22;
  min-width: 30%;
  text-align: left;
}

.nypr-o-audio-player-level-one {
  font-family: "OpenSans-Bold", sans-serif;;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 13px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media(">=medium") {
    text-align: right;
  }
}

.nypr-o-audio-player-level-two {
  font-family: 'Libre Baskerville', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.nypr-o-audio-player-level-three {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Open Sans;
  font-size: 12.642px;
  font-weight: normal;
  white-space: normal;
  width: 100%;

  @include toggleBoxCaret(8px, #FFF);

  .toggle-box__icon {
    height: 8px;
  }
}

.nypr-o-audio-player-level-three .nypr-o-audio-player-level-three-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.nypr-o-audio-player-level-three.nypr-o-audio-player-level-two-visible .nypr-o-audio-player-level-three-text {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
}
