/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

/**
 * Toggle box container
 */
.c-toggle-box {
  position: relative;

  .c-toggle-box__label {
    position: relative;

    &:before {
      content: "";
      bottom: -22px;
      right: 0;
      position: absolute;
      background-color: $c-white;
      opacity: 0;
      transform: translateY(20px) rotate(-45deg);
      transition: none;
      width: 0;
      height: 0;
    }
  }

  .c-toggle-box__label {
    @include font-secondary-style;
  }

  .c-toggle-box__content {
    position: absolute;
    width: 100%;
    right: -$space-half;
    top: $space-double;
    padding: $space;
    background-color: $c-white;
    opacity: 0;
    z-index: $z-index-vanish;
    transform: scale(.85);
    transform-origin: left center;
    transition: all .2s ease-out;

    @include media('>medium') {
      right: auto;
      left: 50%;
      transform: scale(.85) translate(-50%);
    }
  }

  .c-toggle-box__label {
    color: $c-white;
  }

  .o-icon--caret path {
    fill: $c-white;
  }
}
// Open
.c-toggle-box.this-is-active {

  .c-toggle-box__label:before {
    opacity: 1;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s ease-out .15s, opacity .15s ease-out .15s;
    width: 15px;
    height: 15px;
  }

  .c-toggle-box__content {
    opacity: 1;
    transform: scale(1);
    z-index: $z-index-toggle-box-content;

    @include media('>medium') {
      transform: scale(1) translate(-50%);
    }
  }
}

/**
 * Share toggle box
 */
.c-toggle-box--share {

  .c-toggle-box__content {
    width: 115px;
  }

  .c-share-tools__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .c-share-tools__link {
    width: 40%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: $space-half;
    }
  }

  .c-share-tools__label {
    font-size: $font-size-xs;
  }
}


/**
 * Progress bar
 */
.o-progress {
  position: absolute;
  left: 0;
  bottom: -$space-half;
  width: 100%;
  height: $space-half;
  appearance: none;
  border: none;
  background-color: $c-gray--light;
  color: $c-quaternary;
  z-index: $z-index-progress-bar;

  &::-webkit-progress-bar {
    background-color: $c-gray--light;
  }
  &::-webkit-progress-value {
    background-color: $c-quaternary;
  }
  &::-moz-progress-bar {
    background-color: $c-quaternary;
  }
}

.c-share-tools {
  display: flex;
  align-items: center;

  .c-share-tools__label {
    margin-right: $space-half;
  }

  .c-share-tools__group {
    display: flex;
    align-items: center;
  }

  .c-share-tools__link {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 4px;

    @include media('>small') {
      width: 40px;
    }

    path {
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      path {
        fill: $c-primary;
      }
    }
  }

  @include media('<=small') {
    flex-wrap: wrap;

    .c-share-tools__label {
      flex-basis: 100%;
      margin: 0 0 2px 0;

      + .c-share-tools__group > .c-share-tools__link:first-of-type {
        margin-left: -5px; // align first icon with label if present
      }
    }

    .c-share-tools__link {
      margin: 0;
    }

    .c-share-tools__group {
      flex-wrap: wrap;
    }

    .c-share-tools__group > * + * {
      margin: 0 0 0 $space-quarter;
    }
  }

  .c-share-tools--vertical {
    .c-share-tools__group {
      flex-wrap: wrap;
    }

    .c-share-tools__link {
      flex-basis: 100%;
      margin: 4px 0;

      .c-share-tools__link--print {

        @include media('>medium') {
          margin-bottom: 10px;
          background-image: linear-gradient(to right, transparent 50%, $c-gray 50%);
          background-position: center top;
          background-size: 16px 1px;
          background-repeat: repeat-x;
        }

        svg {
          margin-top: 10px;
        }
      }
    }
  }
}
