/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/**
 * Icon Sizing
 */
.o-icon {
  display: inline-block;
}
.o-icon svg,
  .o-icon path {
    fill: inherit;
  }

.o-text-with-icon {
  display: inline-flex;
  align-items: center;
}

.o-text-with-icon > *:last-child {
    margin-left: $space-half;
  }

.u-icon--xs {
  width: $icon-xsmall;
  height: $icon-xsmall;
}

.u-icon--s {
  width: $icon-small;
  height: $icon-small;
}

.u-icon--m {
  width: $icon-medium;
  height: $icon-medium;
}

.u-icon--l {
  width: $icon-large;
  height: $icon-large;
}

.u-icon--xl {
  width: $icon-xlarge;
  height: $icon-xlarge;
}
