/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

/**
 * Side menu toggle
 */
.o-menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
}
.o-menu-toggle__line,
.o-menu-toggle__line:before,
.o-menu-toggle__line:after {
  position: absolute;
  background-color: rgb(var(--color-background)); //this whole file dark ? pulled from light for now. 
  height: 2px;
  display: block;
  left: 50%;
  width: 18px;
  transform: translateX(-50%);
}
.o-menu-toggle__line:before,
.o-menu-toggle__line:after {
  content: "";
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.o-menu-toggle__line:before {
  transform: translate(-50%, -6px);
}
.o-menu-toggle__line:after {
  transform: translate(-50%, 6px);
}
@media (pointer: fine) {
  .o-menu-toggle:hover .o-menu-toggle__line,
  .o-menu-toggle:hover .o-menu-toggle__line:before,
  .o-menu-toggle:hover .o-menu-toggle__line:after {
    background-color: rgb(var(--color-primary-2));
    transition: background-color 0.2s ease-out;
  }
}

.c-menu-toggle {
  z-index: $z-index-menu-toggle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  display: flex;
  align-items: center;
  left: var(--space-3);
}

.c-menu-toggle + * {
  margin-left: var(--space-5);
}

/* Side menu is active*/
.side-menu-is-active .o-menu-toggle__line {
  visibility: hidden;
}
.side-menu-is-active .o-menu-toggle__line:before {
  visibility: visible;
  top: auto;
  transform: translateX(-50%) rotate(-45deg);
}
.side-menu-is-active .o-menu-toggle__line:after {
  visibility: visible;
  bottom: auto;
  transform: translateX(-50%) rotate(45deg);
}
.side-menu-is-active:hover .o-menu-toggle__line,
.side-menu-is-active:hover .o-menu-toggle__line:before,
.side-menu-is-active:hover .o-menu-toggle__line:after {
  background-color: rgb(var(--color-background));
}
.side-menu-is-active .c-menu-toggle {
  display: none;
}
.side-menu-is-active .c-side-menu .c-menu-toggle {
  display: block;
  position: absolute;
  right: var(--space-1);
  top: var(--space-1);
  bottom: auto;
  left: auto;
}

/**
 * Primary navigation (top)
 */
.c-primary-nav--top {
  @include media("<=xlarge") {
    display: none;
  }
}
.c-primary-nav--top .c-primary-nav__item {
  display: inline-block;
  position: relative;
  margin: 0;
}
/* ember lab compat*/
.c-primary-nav--top .c-primary-nav__item:after {
  content: "";
  display: block;
  width: 2px;
  height: 16.5px;
  background-color: rgb(var(--color-background));
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 100%;
}
.c-primary-nav--top .c-primary-nav__item:last-child:after {
  display: none;
}
.c-primary-nav--top .c-primary-nav__link {
  display: inline-block;
  padding: 0 var(--space-3);
  color: rgb(var(--color-link-hover-2));
  font-size: var(--font-size-body-2);
  font-weight: bold;
  letter-spacing: 1px;
}
.c-primary-nav--top .c-primary-nav__link:hover {
  color: rgb(var(--color-primary-2));
}

/**
 * Primary navigation (side)
 */
.c-primary-nav--side {
  padding-top: var(--space-2);
  margin-bottom: var(--space-7);
}
.c-primary-nav--side .c-primary-nav__item {
  margin-top: var(--space-4);
}
.c-primary-nav--side .c-primary-nav__link {
  font-size: 28px;
  line-height: 1;
}

.c-primary-nav.c-primary-nav--top ul,
.c-primary-nav.c-primary-nav--side ul {
  margin: 0;
}

/**
 * NYPR brand link roll navigation
 */
.c-nypr-nav {
  /* ember compat*/
  max-width: 380px;
}
.c-nypr-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.c-nypr-nav__item {
  width: 50%;
  text-align: left;
}
.c-nypr-nav__link {
  font-size: 18px;
  margin-bottom: var(--space-2);
  line-height: 1;
  padding-bottom: var(--space-1);
}

/**
 * Breadcrumb navigation
 */
.o-breadcrumbs {
  position: relative;
  display: flex;
}
.o-breadcrumbs:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: -4px;
  top: calc(50% + 1px);
  @include border-accent;
}
.o-breadcrumb {
  position: relative;
  display: inline-block;
  z-index: $z-index-breadcrumb;
}
.o-breadcrumb + * {
  margin-left: var(--space-3);
}
.o-breadcrumb.o-tag--sponsored {
  margin-left: auto;
}

/**
 * Tags navigation
 */
.o-tags .o-kicker + * {
  margin-left: var(--space-2);
}

/**
 * Read More navigation
 */
.c-read-more-nav {
  padding: var(--space-4) var(--space-3);
  text-align: center;
  border-top: 2px dashed rgb(var(--color-border-standard));
  border-bottom: 2px dashed rgb(var(--color-border-standard));

  @include media("<=medium") {
    padding: var(--space-4) var(--space-5);
  }

  @include media(">medium") {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px dashed rgb(var(--color-border-standard));;
  }
}
.c-read-more-nav__wrap {
  overflow: hidden;
  position: relative;
}
.c-read-more-nav__label {
  display: inline-block;
  margin-right: var(--space-3);

  @include typeface(subheader, 3);
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body);

  @include media("<=medium") {
    margin-bottom: var(--space-2);
    margin-right: 0;
  }
}
.c-read-more-nav ul {
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.c-read-more-nav__item {
  display: inline-block;
  margin-bottom: var(--space-2);
  flex-grow: 1;
  flex-basis: auto;
  position: relative;
  padding: 0 1em;
}
.c-read-more-nav__item:before {
  content: "";
  position: absolute;
  background-color: rgb(var(--color-text-muted));
  left: 0;
  top: calc(50% - 2px);
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
}
.c-read-more-nav__link {
  font-size: var(--font-size-header-1);
  font-weight: 600;
  padding-bottom: 0;

  @include media("<=medium") {
    margin-bottom: var(--space-2);
  }
}
