/*------------------------------------*\
    $LEADS/HEROS
\*------------------------------------*/

.c-lead {

  .o-caption {
    @include media('<=medium') {
      padding-left: $space;
      padding-right: $space;
    }
  }
}

/**
 * Gallery version of a lead
 */
.c-lead-gallery {

  &__top {
    margin-bottom: $space;
  }

  &__image {
    img {
      cursor: pointer;
    }
  }

  .o-figure {
    background-color: $c-octonary;
  }

  .o-caption {
    padding: 0 $space $space;

    // ember compat
    > .o-credit {
      padding: 0;
      display: block;
    }
  }

  &__title {
    font-size: $font-size-m;
  }

  &__caption {
    p {
      font-size: $font-size-s;
    }
  }

  &__thumbs {
    display: flex;
    justify-content: space-between;
  }

  &__thumbs-thumb {
    display: inline-block;
    max-width: calc(20% - #{$space});
    min-width: calc(20% - #{$space});
    border: $border-style-m;

    &.is-active {
      border-color: $c-primary;
    }

    @include media('<=medium') {
      max-width: calc(25% - #{$space});
      min-width: calc(25% - #{$space});
      &:nth-child(4) {
        display: none;
      }
    }

    @include media('<=small') {
      max-width: calc(33.3333% - #{$space-half});
      min-width: calc(33.3333% - #{$space-half});
      &:nth-child(3) {
        display: none;
      }
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__thumbs-thumb-text {
    padding: $space $space-half $space-half;
    background-color: $c-dark-bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: $c-white;
    white-space: nowrap;

    &:hover {
      background-color: $c-primary;
    }

    span {
      display: block;
      font-size: $font-size-l;
      width: 100%;
      text-align: center;
    }
  }
}
