/*------------------------------------*\
    $TOUTS
\*------------------------------------*/

/**
 * Contact/sent tip
 */
.c-contact-tout {
  padding: var(--space-4);
  width: 100%;
}

/**
 * Donate bar
 */
.c-donate-tout {
  padding: var(--space-5);
  background-color: rgb(var(--color-background-highlight));
  position: relative;
  width: 100%;
  max-width: calc((var(--col-width) * 14) + (var(--gutter) * 12));
  margin: 70px 0 0 auto;
  position: fixed;
  z-index: $z-index-donate-tout;
  right: calc(-(var(--col-width) * 15) + (var(--gutter) * 13));
  bottom: 50px;
  transform: translateX(0);
  transition: var(--animation-easing-incoming); // used to be $hard-ease-in
  box-shadow: 0 0 10px rgba($c-black, 0.2); //no black
  border: var(--border-normal);

  @include media("<=xlarge") {
    max-width: 270px;
    right: calc(-(var(--col-width) * 6) + (var(--gutter) * 4));

    &.is-active {
      transform: translateX(calc(-(var(--col-width) * 6) + (var(--gutter) * 5)));
    }

  }
}
.c-donate-tout:before {
  content: "";
  position: absolute;
  background-color: rgb(var(--color-background-highlight));
  left: -3px;
  top: -3px;
  width: 120px;
  height: 90px;

  @include media(">xlarge") {
    height: 120px;
  }
}
.c-donate-tout.is-active {
  transform: translateX(calc(-(var(--col-width) * 15 + var(--gutter * 13) + var(--space-3))));
}
.c-donate-tout__inner {
  @include media(">xlarge") {
    padding: 0 var(--space-3) 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-donate-tout__inner p {
  position: relative;
  @include typeface(body, 6);
  @include media(">xlarge") {
    width: calc(65% - var(--space-3));
  }
}
.c-donate-tout__inner .o-button {
  width: 100%;
  margin-top: var(--space-3);
  @include media(">xlarge") {
    margin-top: 0;
    width: 35%;
  }
}
.c-donate-tout__graphic {
  width: 120px;
  height: 133px;
  position: relative;
  margin-left: -55px;
  margin-top: -95px;
  margin-right: var(--space-2);
  float: left;

  @include media(">xlarge") {
    float: none;
    margin: 0;
    position: absolute;
    left: calc(var(--space-3) * -1);
    top: calc(var(--space-3) * -1);
  }
}
.c-donate-tout__graphic path {
  fill: rgb(var(--color-background-highlight)); //dark
}
.c-donate-tout__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
/* Non-fly-in version*/
.c-donate-tout--static {
  box-shadow: none;
  max-width: none;
  position: static;
  max-width: none;
  border-left: none;
  border-right: none;

  @include media(">xlarge") {
    margin-top: 0;
  }
}
.c-donate-tout--static:before {
  display: none;
}
.c-donate-tout--static .c-donate-tout__inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 700px;

  @include media(">xlarge") {
    max-width: calc((var(--col-width) * 14) + (var(--gutter) * 12));
  }
}
.c-donate-tout--static .c-donate-tout__graphic {
  margin-top: -105px;
  margin-left: -30px;

  @include media(">xlarge") {
    margin-top: -40px;

    &:before {
      top: 21px;
      width: 87px;
      left: 26px;
    }
  }
}
.c-donate-tout--static .c-donate-tout__graphic:before {
  content: "";
  position: absolute;
  background-color: rgb(var(--color-background-highlight));
  left: -3px;
  top: 70px;
  width: 120px;
  height: 10px;
  z-index: -1;
}
.c-donate-tout--static .c-donate-tout__close {
  display: none;
}
.c-donate-tout--static .o-button {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**
 * Sponsored tout
 */
.c-sponsored-tout {
  width: 100%;
  padding: var(--space-7) var(--space-9);
  background-color: rgb(var(--color-background-muted)); //light
  position: relative;

  @include media("<=medium") {
    padding: var(--space-7) var(--space-3);
    width: calc(100vw + 4px);
    left: -2px;
  }
}
.c-sponsored-tout__heading {
  @include typeface(header, 9);
  @include media(">=medium") {
    @include typeface(header, 11);
    left: var(--space-9);
  }
  position: absolute;
  top: -0.6em;
  left: var(--space-3);
  background-color: rgb(var(--color-background));
  padding: 0 var(--space-2);
}
.c-sponsored-tout .c-block {
  @include media(">medium") {
    display: flex;
    align-items: flex-start;
  }
}
.c-sponsored-tout .o-kicker {
  background-color: rgb(var(--color-primary-3));
  color: rgb(var(--color-background));
}
.c-sponsored-tout .c-block__media {
  width: 100%;

  @include media(">small", "<=medium") {
    margin-bottom: var(--space-3);
    max-width: 360px;
  }

  @include media(">medium") {
    max-width: 328px;
    margin-right: var(--space-4);
  }
}

/**
 * Newsletter signup tout
 */
.c-newsletter-tout {
  padding: var(--space-7) var(--space-9);
  position: relative;
  /* Adjusted vertical spacing because of the 10px shadow border.*/
  margin-bottom: calc(var(--space-7) + 10);

  @include media("<=medium") {
    padding: var(--space-4);
    margin-left: -2px;
  }
}
.c-newsletter-tout:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 11px;
  border: var(--border-normal);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.c-newsletter-tout__inner {
  position: relative; /* re establish stacking order above pseudo element*/

  @include media("<=medium") {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(">medium") {
    display: flex;
  }
}
.c-newsletter-tout__media {
  padding: var(--space-3);

  @include media(">small", "<=medium") {
    padding: 0;
    margin-bottom: var(--space-3);
    max-width: 360px;
  }

  @include media(">medium") {
    padding: 0;
    margin-right: var(--space-4);
  }

  @include media(">xlarge") {
    max-width: 250px;
    min-width: 250px;
  }
}
.c-newsletter-tout__dek {
  @include typeface(small, 5);
}
.c-newsletter-tout__heading {
  @include typeface(header, 9);
  @include media(">=medium") {
    @include typeface(header, 11);
  }
}

.c-newsletter-tout__text {
  @include media(">medium") {
    padding-top: var(--space-3);
  }
}
