/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button,
input[type="submit"] {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	appearance: none;
}

.o-button {
  @include typeface(small, 6);
  display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border-width: 0px;
	background-color: rgb(var(--color-button));
	cursor: pointer;
	padding: 20px var(--space-4) 18px;
	text-align: center;
  text-decoration: none;
	line-height: 22px;
	letter-spacing: 2px;
  color: white;

  @include media(">small") {
		padding-right: var(--space-5);
		padding-left: var(--space-5);
	}

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-index-button-outline;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(var(--color-button));
    border-color: rgb(var(--color-button));
    transform: translate(0, 0);
    transition: var(--animation-easing-incoming) var(--animation-duration-standard);// used to be $hard-ease-in
  }
}
.o-button:hover {
	opacity: var(--opacity-button-hover);
	background: rgb(var(--color-button-hover));
  text-decoration: none;
}
.o-button:active {
	opacity: 1;
	background: rgb(var(--color-button-pressed));
}

/* Sizes*/
.o-button--sm {
  font-size: var(--font-size-4);
  padding: 11px 50px 10px;
}
.o-button--extra {
  padding-left: 80px;
  padding-right: 80px;
}
