/*------------------------------------*\
    $TOUTS
\*------------------------------------*/

/**
 * Contact/sent tip
 */
.c-contact-tout {
  padding: $space-and-half;
  width: 100%;
}

/**
 * Donate bar
 */
.c-donate-tout {
  padding: $space-double;
  background-color: $c-quinary;
  position: relative;
  width: 100%;
  max-width: ($col-width * 14) + ($gutter * 12) + px;
  margin: 70px 0 0 auto;
  position: fixed;
  z-index: $z-index-donate-tout;
  right: -#{($col-width * 15) + ($gutter * 13) + px};
  bottom: 50px;
  transform: translateX(0);
  transition: transform 0.2s $hard-ease-in;
  box-shadow: 0 0 10px rgba($c-black, 0.2);
  border: 3px solid $c-black;

  @include media("<=xlarge") {
    max-width: 270px;
    right: -#{($col-width * 6) + ($gutter * 4) + px};

    &.is-active {
      transform: translateX(-#{($col-width * 6) + ($gutter * 5) + px});
    }
  }
}
.c-donate-tout:before {
  content: "";
  position: absolute;
  background-color: $c-quinary;
  left: -3px;
  top: -3px;
  width: 120px;
  height: 90px;

  @include media(">xlarge") {
    height: 120px;
  }
}
.c-donate-tout.is-active {
  transform: translateX(-#{($col-width * 15) + ($gutter * 13) + $space});
}
.c-donate-tout__inner {
  @include media(">xlarge") {
    padding: 0 $space 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-donate-tout__inner p {
  position: relative;
  @include media(">xlarge") {
    width: calc(65% - #{$space});
  }
}
.c-donate-tout__inner .o-button {
  width: 100%;
  margin-top: $space;
  @include media(">xlarge") {
    margin-top: 0;
    width: 35%;
  }
}
.c-donate-tout__graphic {
  width: 120px;
  height: 133px;
  position: relative;
  margin-left: -55px;
  margin-top: -95px;
  margin-right: $space-half;
  float: left;

  @include media(">xlarge") {
    float: none;
    margin: 0;
    position: absolute;
    left: -$space;
    top: -$space;
  }
}
.c-donate-tout__graphic path {
  fill: $c-senary;
}
.c-donate-tout__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
/* Non-fly-in version*/
.c-donate-tout--static {
  box-shadow: none;
  max-width: none;
  position: static;
  max-width: none;
  border-left: none;
  border-right: none;

  @include media(">xlarge") {
    margin-top: 0;
  }
}
.c-donate-tout--static:before {
  display: none;
}
.c-donate-tout--static .c-donate-tout__inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 700px;

  @include media(">xlarge") {
    max-width: ($col-width * 14) + ($gutter * 12) + px;
  }
}
.c-donate-tout--static .c-donate-tout__graphic {
  margin-top: -105px;
  margin-left: -30px;

  @include media(">xlarge") {
    margin-top: -40px;

    &:before {
      top: 21px;
      width: 87px;
      left: 26px;
    }
  }
}
.c-donate-tout--static .c-donate-tout__graphic:before {
  content: "";
  position: absolute;
  background-color: $c-quinary;
  left: -3px;
  top: 70px;
  width: 120px;
  height: 10px;
  z-index: -1;
}
.c-donate-tout--static .c-donate-tout__close {
  display: none;
}
.c-donate-tout--static .o-button {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**
 * Sponsored tout
 */
.c-sponsored-tout {
  width: 100%;
  padding: $space-triple $space-quad;
  background-color: $c-octonary;
  position: relative;

  @include media("<=medium") {
    padding: $space-triple $space;
    width: calc(100vw + 4px);
    left: -2px;
  }
}
.c-sponsored-tout__heading {
  position: absolute;
  top: -0.6em;
  font-size: var(--font-size-header-5);
  left: $space-quad;
  background-color: $c-white;
  padding: 0 $space-half;

  @include media("<=medium") {
    left: $space;
  }
}
.c-sponsored-tout .c-block {
  @include media(">medium") {
    display: flex;
    align-items: flex-start;
  }
}
.c-sponsored-tout .o-kicker {
  background-color: $c-sponsor-color;
  color: $c-white;
}
.c-sponsored-tout .c-block__media {
  width: 100%;

  @include media(">small", "<=medium") {
    margin-bottom: $space;
    max-width: 360px;
  }

  @include media(">medium") {
    max-width: 328px;
    margin-right: $space-and-half;
  }
}

/**
 * Newsletter signup tout
 */
.c-newsletter-tout {
  padding: $space-triple $space-quad;
  position: relative;
  /* Adjusted vertical spacing because of the 10px shadow border.*/
  margin-bottom: $space-triple + 10px;

  @include media("<=medium") {
    padding: $space-and-half;
    margin-left: -2px;
  }
}
.c-newsletter-tout:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 11px;
  border: 3px solid $c-dark-bg;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.c-newsletter-tout__inner {
  position: relative; /* re establish stacking order above pseudo element*/

  @include media("<=medium") {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(">medium") {
    display: flex;
  }
}
.c-newsletter-tout__media {
  padding: $space;

  @include media(">small", "<=medium") {
    padding: 0;
    margin-bottom: $space;
    max-width: 360px;
  }

  @include media(">medium") {
    padding: 0;
    margin-right: $space-and-half;
  }

  @include media(">xlarge") {
    max-width: 250px;
    min-width: 250px;
  }
}
.c-newsletter-tout__heading {
  @include typeface(header, 5);
}

.c-newsletter-tout__text {
  @include media(">medium") {
    padding-top: $space;
  }
}
