/*------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------*/

.o-section {

  .o-section__heading {
    font-size: $font-size-l;
    display: inline;
    padding-bottom: $space-half;
    margin-left: -$space-half;
    background-position: center bottom .5em;
  }
}

/**
 * Block group
 */
.c-block-group {
  @include media('>medium') {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  // Two columns with ad unit
  .c-block-group__col1 {
    @include media('>medium') {
      padding-right: $gutter + px;
      width: calc((100% - 300px) - #{$gutter}px);
    }
  }
  .c-block-group__col2 {
    @include media('>medium') {
      width: 300px;
    }
  }

  // With ad
  .c-block-group--right-rail {
    @include media('<=medium') {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column-reverse;

      .c-block-group__col2 {
        margin-bottom: $space-triple;
      }
    }
  }

  // Single column
  .c-block-group--single-col {
    display: block;

    .c-block-group__col1 {
      width: 100%;
      padding: 0;

      @include media('>medium') {
        padding: 0; // override base style
      }

      > .c-block {
        margin-bottom: $space-triple;
      }
    }
  }

  // Two even columns
  .c-block-group--2up {

    @include media('>small') {
      display: flex;
      justify-content: space-between;
    }

    .c-block__title {
      @include media('<=medium') {
        font-size: $font-size-s-m;
      }
    }

    .c-block-group__col {
      width: 100%;
      padding: 0;
      margin-bottom: $space-triple;

      @include media('>small') {
        margin-bottom: 0;
        max-width: calc(50% - #{$space-half});
      }
    }
  }

  .c-block-group--offset {
    padding: $space-double 0;

    .c-block-group__col1 {
      margin-bottom: $space-triple;

      @include media('>medium') {
        padding-right: 0;
        margin-bottom: 0;
        width: calc(56% - #{$space});
      }
    }

    .c-block-group__col2 {
      @include media('>medium') {
        width: calc(44% - #{$space});
      }
    }
  }
}

.c-banners {
  padding-top: $space;

  .c-banners__breaking-news:last-child {
    margin-bottom: $space-double;
  }

  .o-box-banner {
    margin-bottom: 50px;
  }
}

/**
 * Homepage structure:
 *  - content-top
 *  - tout (donation ask)
 *  - content-bottom
 */

.c-home__tout {
  padding-top: $space-double;

  .c-donate-tout--static {
    @include media('<=medium') {
      margin-top: 70px;
    }
  }
}

.c-home__content-bottom {
  padding-top: $space-double;

  @include media('>medium') {
    padding-top: $space-triple;
  }
}



/**
 * Featured block groups
 */
.c-featured-blocks {
  border-top: 3px solid $c-black;
  border-bottom: 3px solid $c-black;
  position: relative;

  @include media('>medium') {
    // Adjusted vertical spacing because of the bottom content break through.
    margin-bottom: 120px;
    border: 3px solid $c-black;
  }

  .c-featured-blocks__heading {
    position: absolute;
    top: -.6em;
    font-size: $font-size-l;
    right: $space-quad;
    background-color: $c-white;
    padding: 0 $space-half;

    .c-featured-blocks__heading--wnyc {
      width: 260px;
      white-space: nowrap;
      top: -$space-double;

      @include media('<=medium') {
        right: auto;
        left: $space-half;
      }

      > span {
        display: inline;
      }

      img {
        width: 94px;
        height: 38px;
        display: inline-block;
        position: relative;
        top: $space-quarter;
        margin-left: $space-half;
      }
    }
  }

  .c-featured-blocks__inner {
    padding: $space-double $space;

    @include media('>medium') {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include media('>xlarge') {
      padding: $space-triple $space-double;
    }
  }

  .c-featured-blocks__heading__col1 {
    margin-bottom: $space-double;
    background-color: $c-white;

    @include media('>medium') {
      max-width: 620px;
      padding: 0 $space;
      margin-bottom: -100px;
      margin-right: $space-double;
    }
  }
  .c-featured-blocks__heading__col2 {
    @include media('>medium') {
      width: 450px;
    }
    @include media('>xlarge') {
      width: 380px;
      margin-right: $space-double;
    }
  }

  // Main featured block group
  .c-featured-blocks__heading--primary {

    .c-featured-blocks__col1 {
      .c-block__title {
        @include media('>xlarge') {
          font-size: $font-size-xl;
          line-height: 1.15;
        }
      }
    }
  }

  // Secondary featured block group
  .c-featured-blocks__heading--secondary {

    &.o-section {
      @include media('<=medium') {
        margin-top: 60px;
      }
    }

    .c-featured-blocks__inner {
      @include media('<=medium') {
        padding-top: 40px;
      }
    }

    .c-featured-blocks__col1,
    .c-featured-blocks__col2 {
      @include media('>medium') {
        width: calc(50% - #{$space});
        margin-left: 0;
      }
    }
  }

}


/**
 * Section listing header
 */
.c-section__header {
  padding: $space-double $space;
  background-color: $c-quaternary;
  text-align: center;
  margin-bottom: $space-double;

  @include media('>medium') {
    padding: $space-triple $space;
    margin-bottom: $space-quad;
  }
}
.c-section__heading {
  font-weight: normal;
  font-size: $font-size-m;
  letter-spacing: 3px;

  @include media('>medium') {
    font-size: $font-size-xl;
  }
}


/**
 * Tag listing header
 */
.c-tag-listing {

  .c-tag-listing__heading {
    background-color: $c-senary;
    display: inline-block;
    font-weight: normal;
    padding: $space-half $space;
    margin: $space-half 0;
    color: $c-white;
    font-size: $font-size-m;

    @include media('>medium') {
      font-size: $font-size-xl;
    }
  }
}


/**
 * Search results
 */
.c-search-results {

  .c-search-results__header {
    padding-top: $space;
    border-bottom: 3px solid $c-black;

    &--no-border {
      border-bottom: none;
    }
  }

  .c-search-results__form {

    .c-search__input {
      padding: 0;
      font-size: $font-size-m;
      font-family: $ff-font--tertiary;
      font-weight: bold;
      text-transform: uppercase;

      @include media('>medium') {
        font-size: $font-size-xl;
      }
    }

    .c-search__button {
      padding: $space-half;
      background-color: transparent;
      height: auto;
      width: 40px;

      @include media('>medium') {
        width: 60px;
      }

      &:hover {
        background-color: transparent;
        fill: $c-primary;
      }
    }

    .c-search__icon {
      width: $icon-small;
      height: $icon-small;

      @include media('>medium') {
        width: $icon-medium;
        height: $icon-medium;
      }
    }
  }

  .c-search-results__term {
    font-family: $ff-font--tertiary;
    font-size: $font-size-xl;
    font-weight: bold;
    text-transform: uppercase;
  }
}


/**
 * Author listing pages
 */
.c-author-listing {
  @include media('>medium') {
    padding-top: $space;
  }

  &:before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: $space-triple;
    @include border-accent;
  }
}


/**
 * Basic "flat" pages
 */
.c-basic {

  .c-basic__header {
    padding: $space 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      @include border-accent;
    }
  }

  .c-basic__heading {
    @include media('<=medium') {
      font-size: $font-size-xl;
    }
  }
}
