/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

/**
 * Text only banner message
 */
.o-text-banner {
  @include media('>large') {
    padding-top: $space;
  }
}


/**
 * Boxed in banner
 */
.o-box-banner {
  padding: $space $space-and-half $space-and-half;
  text-align: center;
  display: block;

  &__inner {
    @include media('>large') {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &.this-is-active {
    display: none;
  }

  &__close {
    position: absolute;
    right: $space-half;
    top: $space-half;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-s-m;

    @include media('>large') {
      font-size: $font-size-m;
      text-align: right;
    }
  }

  &__title > a,
  &__title-link {
    @include inline-accent($c-body-color, $c-body-color, $c-primary, false, $c-tertiary);
    transition: none;
  }

  &__group {
    @include media('>large') {
      min-width: 73%;
      padding-left: $space-triple;
      text-align: left;
    }
  }

  &__dek {
    p {
      line-height: 1.45;

      @include media('<=medium') {
        font-size: $font-size-s;
      }
    }

    a {
      border-bottom-color: $c-body-color;
      color: $c-body-color;

      &:hover {
        color: $c-tertiary;
        background-color: transparent;
        border-bottom-color: $c-tertiary;
      }
    }
  }

  &--no-desc {
    .o-box-banner__title {
      margin-bottom: $space;

      @include media('>large') {
        padding-right: $space-triple;
        text-align: right;
        margin-top: -4px;
        margin-bottom: 0;
        max-width: 75%;
      }
    }
    .o-box-banner__group {
      @include media('>large') {
        min-width: 0;
        padding-left: 0;
        text-align: left;
      }
    }
  }

  &--sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1s;

    &.this-is-active {
      display: block;
      animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
  }

  &--senary {
    background-color: $c-senary;
    @include reversed-out-text;

    .o-box-banner__close {
      path {
        fill: $c-white;
      }
    }

    .o-box-banner__title a {
      @include inline-accent($c-white, $c-white, $c-white, $c-primary, $c-white);
    }
  }
}
