/*------------------------------------*\
    $MEDIA OBJECTS
\*------------------------------------*/

.o-figure {
  display: block;
}

.o-figure__image {
  margin-bottom: var(--space-2);
}

.o-figure__image img {
  width: 100%;
}

.c-lead-gallery .o-figure__image {
  margin-bottom: var(--space-3);
  cursor: pointer;
}

/*------------------------------------*\
      Aspect Ratio Management
\*------------------------------------*/

/* 3:2 ratio*/
[class*="u-img-ratio"] {
  position: relative;
  background-color: rgb(var(--color-light-gray));
}
[class*="u-img-ratio"]:before {
  content: "";
  display: block;
  width: 100%;
}
[class*="u-img-ratio"] > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  margin: auto;

  object-fit: contain;
}

.u-img-ratio--3x2:before {
  padding-top: (2 / 3) * 100%; /* height divided by width*/
}
