/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/**
 * Validation
 */
.has-error {
  border-color: $c-error !important;
}

.is-valid {
  border-color: $c-valid !important;
}

.o-error-message {
  padding: 2px 0;

  p {
    font-size: $font-size-xs;
    font-weight: bold;
    line-height: 1.3;
    color: $c-error;
  }
}

.o-form-error {
  .o-button {
    opacity: .5;
  }
}

div.o-confirm-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  p {
    line-height: 1.3;
  }
}

.o-confirm-hide {
  visibility: hidden;
}

/**
 * Search entry
 */
.c-search {
  display: flex;
  justify-content: space-between;

  &__button {
    height: 100%;
    padding: 10px;
  }
}

// Heading search menu
.c-search--top {
  height: 50px;
  width: 265px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: $z-index-vanish;
  overflow: hidden;
  transition: z-index .1s ease-out .5s;
  transform: translateY(-50%);

  @include media('<=small') {
    display: none;
  }

  .c-search__close {
    position: absolute;
    left: $space-half;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-40px, -50%);
    border-radius: 50%;
    background-color: $c-gray--light;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .15s ease-out;
    z-index: $z-index-search-close;
    svg {
      width: 10px;
      height: 10px;
    }
    path {
      fill: $c-reddish-orange;
    }
  }

  .c-search__input {
    width: calc(100% - 50px);
    font-size: 14px;
    padding-left: 45px;
    transform: translateX(calc(100% + 50px));
    transition: transform .1s ease-out .15s;
  }

  .c-search__button {
    min-width: 50px;
    max-width: 50px;
    position: relative;
    z-index: $z-index-search-button;
    opacity: 0;
    transition: opacity .15s ease-out .3s;

    &:hover {
      background-color: $c-quaternary;
    }
  }
}
// Top search entry is open
.top-search-is-active {
  .c-search--top {
    display: flex;
    z-index: $z-index-search-top-show;
    transition: z-index 0s;

    @include media('<=small') {
      display: none;
    }
  }
  .c-search__close {
    transform: translateY(-50%);
    transition: transform .15s ease-out .3s;
  }
  .c-search__input {
    transform: translateX(0);
    transition: transform .15s ease-out .1s;
  }
  .c-search__button {
    opacity: 1;
    transition: opacity .1s ease-out;

    path {
      fill: $c-black;
    }
  }
}

// top search is open
// for ember compat
.c-search--top.is-open {
  display: flex;
  z-index: $z-index-search-top-show;
  transition: z-index 0s;

  @include media('<=small') {
    display: none;
  }

  .c-search__close {
    transform: translateY(-50%);
    transition: transform .15s ease-out .3s;
  }
  .c-search__input {
    transform: translateX(0);
    transition: transform .15s ease-out .1s;
  }
  .c-search__button {
    opacity: 1;
    transition: opacity .1s ease-out;

    .search-icon {
      fill: $c-black;
    }
  }
}

// Side menu search
.c-search--side {
  height: 60px;

  .c-search__input {
    width: calc(100% - 60px);
  }

  .c-search__button {
    min-width: 60px;
    max-width: 60px;

    path {
      fill: $c-black;
    }
  }
}


/**
 * Newsletter form
 */
.c-newsletter-form {
  padding-left: $space;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @include media('>xlarge') {
    padding-left: 120px;
  }

  &__graphic {
    position: absolute;
    width: 140px;
    mix-blend-mode: difference;
    top: -$space;
    left: -$space;

    path {
      fill: $c-quinary;
    }

    @include media('>small') {
      top: -60px;
      left: -10px;
    }

    @include media('>medium') {
      top: -40px;
      left: -40px;
    }

    @include media('>xlarge') {
      width: 130px;
      left: 0;
      top: 50px;
      mix-blend-mode: normal;
    }
  }

  &__inner {
    background-color: $c-quinary;
    border: 3px solid $c-border-color;
    padding: $space-double $space-and-half;

    @include media('>xlarge') {
      position: relative;
      max-width: 380px;
    }
  }

  &__text {

    @include media('<=xlarge') {
      padding-left: 80px;
    }

    p {
      font-size: 14px;
      line-height: 1.55;
    }
  }

  &__icon {
    vertical-align: text-top;
    margin-right: $space-half;
  }

  &__field-group {
    display: flex;
    border: 3px solid $c-border-color;
    position: relative;
  }

  &__input {
    width: calc(100% - 60px);
  }

  &__button {
    width: 60px;
    height: 60px;
    padding: 0;

    &:hover:not(:focus) {
      .o-icon--newsletter-form {
        animation: bounce-horiz .8s 0s ease-out infinite;
      }
    }
  }

  .c-newsletter-form__button {
    background-color: $c-dark-bg;
  }

  &__submit-icon {
    width: 24px;
    fill: $c-white;
  }

  &__terms {
    padding-left: 25px;
    position: relative;

    .o-checkbox {
      position: absolute;
      left: 0;
      top: 2px;
    }

    p {
      line-height: 1.35;
    }
  }
}
