/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

/**
 * Bullet List
 */
.o-bullet-list {
  list-style-type: disc;
  padding-left: $space;
}
.o-bullet-list li {
    overflow: visible;
  }
.o-bullet-list li:last-child {
      margin-bottom: 0;
    }
