<svg class="arrow-skinny-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" ...attributes>
  <title>icon-skinny-arrow</title>
  <path d="M19.77,4.75l10,9.74a.51.51,0,0,1,.15.23.94.94,0,0,1,0,.7.51.51,0,0,1-.15.23l-10,9.74a.81.81,0,0,1-1.14,0s0,0-.05-.05a.94.94,0,0,1,.05-1.26l8.43-8.2H.84A.85.85,0,0,1,0,15a.86.86,0,0,1,.84-.89H27.06L18.63,5.92a.92.92,0,0,1-.25-.85A.87.87,0,0,1,19,4.42a.8.8,0,0,1,.82.19Z" fill-rule="evenodd"/>
</svg>
