<svg class="arrow-stylish-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" ...attributes>
  <title>Stylish Arrow</title>
  <path d="M17.06,3.28l11,4.56L30,9.79,19.62,20.16l3.52,3.52-17.85,3L3.35,24.77,0,12l5.92,2.45L17.06,3.28Zm-12.23,20,12.53-2.15-3.67-1.53L24.81,8.49l-7.31-3L6.36,16.59,2.69,15.05l2.14,8.24Z" fill-rule="evenodd"/>
</svg>
