<svg ...attributes width="{{@width}}" height="{{@height}}"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Dashed Arrow Icon</title>
  <polygon points="18.74 3.12 29.96 14 18.74 24.88 18.74 16.72 15 16.72 15 11.28 18.74 11.28 18.74 3.12" />
  <rect x="8.2" y="11.28" width="5.44" height="5.44" />
  <rect x="4.12" y="11.28" width="2.72" height="5.44" />
  <rect x="0.04" y="11.28" width="2.72" height="5.44" />
</svg>
