<svg class="{{this.class}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Caret Down Icon</title>
  <path d="M.42,7.29a1,1,0,0,1,1.47,0L15.34,20,28.16,7.89a1.19,1.19,0,0,1,1.52.05c.72.67,0,1.61,0,1.61L15.32,23,.2,8.79A1.11,1.11,0,0,1,.42,7.29Z" fill-rule="evenodd" />
</svg>
