<svg ...attributes width="{{@width}}" height="{{@height}}"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Close Icon</title>
  <path d="M4.43.76A2.6,2.6,0,0,0,.76,4.43L11.33,15,.76,25.57a2.6,2.6,0,1,0,3.67,3.67L15,18.67,25.57,29.24a2.6,2.6,0,1,0,3.67-3.67L18.67,15,29.24,4.43A2.6,2.6,0,1,0,25.57.76L15,11.33Z" fill-rule="evenodd" />
</svg>
