<svg class="email-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" ...attributes>
  <title>Email</title>
  <path d="M30,5.88a2.68,2.68,0,0,0-2.68-2.67H2.68A2.68,2.68,0,0,0,0,5.88V7.22l14.42,7.15a1.38,1.38,0,0,0,1.16,0L30,7.22V5.89Z" />
  <path d="M2.68,25.62H27.32A2.69,2.69,0,0,0,30,22.94V9.23L16.38,16a3,3,0,0,1-1.38.32A2.89,2.89,0,0,1,13.62,16L0,9.23V22.94a2.69,2.69,0,0,0,2.68,2.68Z" />
</svg>
