<svg class="{{this.class}}" width="{{@width}}" height="{{@height}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Gallery Icon</title>
  <path d="M25.35,3H0V23.09H4.33V27H30V6.91H25.35V3ZM2.52,5.46H22.83V18.74l-5.52-6.8L15,14.77,10.52,8.34,2.58,19.73H22.82v.87H2.53V5.46ZM16.74,17.24l-.23-.33.8-1,1.06,1.31Zm-3.07,0H7.38l3.16-4.51,3.14,4.51ZM27.47,9.4V24.54H6.86V23.09H25.35V9.4Z"/>
  <path d="M15.46,12.13a3.07,3.07,0,1,0-3.11-3.06A3.08,3.08,0,0,0,15.46,12.13Zm0-3.64a.58.58,0,1,1,0,1.15.58.58,0,1,1,0-1.15Z"/>
</svg>
