<svg class="gothamis-logo-icon--stacked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 60" ...attributes>
  <title>Gothamist Logo Stacked</title>
  <g class="gothamist-letters">
    <path d="M2.008 52.417c0 .514.237.845.807.845.569 0 .806-.331.806-.845 0-.513-.237-.844-.806-.844-.57 0-.807.331-.807.844zm.838 4.818c-.759 0-1.138.182-1.138.63 0 .446.379.628 1.138.628.76 0 1.138-.182 1.138-.629s-.379-.629-1.138-.629zm3.241-5.397H5.25c.032.182.048.447.048.58 0 1.605-.854 2.417-2.482 2.417h-.348c-.27 0-.427.231-.427.463 0 .215.126.43.363.43h.443c1.882 0 2.846.745 2.846 2.136S4.728 60 2.846 60C.965 60 0 59.255 0 57.864c0-.778.316-1.308.743-1.606a1.705 1.705 0 0 1-.284-.96c0-.497.174-.894.442-1.142-.22-.249-.569-.713-.569-1.739 0-1.606.87-2.417 2.483-2.417h3.272v1.838z" class="G"/>
    <path d="M9.156 53.334c0 1.063.321 1.587 1.082 1.587.76 0 1.082-.524 1.082-1.587 0-1.064-.322-1.588-1.082-1.588s-1.082.524-1.082 1.588zm1.082 3.333c-1.978 0-3.044-1.112-3.044-3.333C7.194 51.11 8.26 50 10.238 50s3.044 1.111 3.044 3.334c0 2.221-1.066 3.333-3.044 3.333z" class="O"/>
    <path d="M16.637 51.834v1.439c0 1.405-.016 1.793.867 1.793.216 0 .51-.097.758-.258v1.47c-.448.243-.944.389-1.362.389-1.827 0-2.059-.922-2.059-2.91v-1.923h-1.006V50.04h1.006v-1.487l1.796-.775v2.262h1.625v1.794h-1.625" class="T"/>
    <path d="M21.28 56.667h-1.911v-9.761l1.91-.795v4.318c.528-.28 1.269-.546 1.714-.546 1.465 0 1.91.976 1.91 2.317v4.467h-1.91v-4.02c0-.679-.28-.877-.725-.877-.264 0-.626.148-.988.38v4.517" class="H"/>
    <path d="M29.897 52.207a1.16 1.16 0 0 0-.95-.477c-.752 0-1.002.572-1.002 1.604 0 1.031.25 1.603 1.001 1.603.384 0 .734-.175.951-.477v-2.253zM31.833 50v4.778c0 .603.15.73.467.73a.728.728 0 0 0 .35-.095v.904c-.417.222-.85.35-1.301.35-.5 0-.901-.191-1.151-.509a2.48 2.48 0 0 1-1.519.509c-1.768 0-2.67-1.191-2.67-3.333 0-2.143.902-3.334 2.67-3.334.634 0 1.185.222 1.618.603L31.833 50z" class="A"/>
    <path d="M35.588 56.667h-1.83v-5.914l1.83-.753v.769c.457-.283 1.136-.534 1.531-.534.71 0 1.152.267 1.404.722.553-.392 1.341-.722 1.831-.722 1.31 0 1.704.926 1.704 2.196v4.236h-1.83v-3.812c0-.643-.237-.831-.584-.831-.206 0-.52.14-.82.376v4.267h-1.831v-3.812c0-.643-.238-.831-.584-.831-.206 0-.521.14-.821.376v4.267" class="M"/>
    <path d="M45.379 49.667v7h-1.107v-6.533l1.107-.467zm-1.107-1.734h1.107v-1.266h-1.107v1.266z" class="I"/>
    <path d="M47.608 54.825c.45.445 1.058.985 1.913.985.576 0 1.074-.223 1.074-.953 0-.666-.607-.92-1.136-1.11-.84-.318-1.867-.747-1.867-2.032 0-1.08.84-1.715 1.945-1.715.638 0 1.15.159 1.54.381v1a2.508 2.508 0 0 0-1.54-.523c-.545 0-1.073.237-1.073.857 0 .555.482.793.995.984.84.317 2.007.809 2.007 2.158 0 1.111-.716 1.81-1.945 1.81-.964 0-1.57-.445-1.913-.731v-1.11" class="S"/>
    <path d="M54.709 50.897v3.07c0 1.423.258 1.746 1.206 1.746.275 0 .706-.13 1.085-.29v.92c-.465.178-.982.324-1.326.324-1.706 0-1.999-1.05-1.999-2.7v-3.07h-1.102v-.857h1.102v-1.81l1.034-.452v2.262H57v.857h-2.291" class="T"/>
  </g>
  <g class="gothamist-buildings">
    <g class="building">
      <path d="M.02 43.333h8.985V18.541H.02z"/>
    </g>
    <g class="building">
      <path d="M13.282 26.667h5.534v-3.889h-5.534z"/>
      <path d="M11.068 39.444h9.408V25.556h-9.408z"/>
      <path d="M10.515 42.778h10.514v-3.889H10.515z"/>
    </g>
    <g class="building">
      <path d="M22.531 43.333h12.15V13.66h-12.15z"/>
      <path d="M23.796 15h9.961v-3.889h-9.961z"/>
      <path d="M26.563 12.778h3.32V10h-3.32z"/>
      <path d="M28.223 17.778h.554V2.222h-.554z"/>
    </g>
    <g class="building">
      <path d="M36.524 0l12.175 6.581v36.197H36.524V0"/>
    </g>
    <g class="building">
      <path d="M49.806 43.333H57v-20h-7.194zM51.466 23.333h4.427v-1.666h-4.427z"/>
    </g>
  </g>
</svg>
