<svg class="nypr-logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 515.62 207.19" ...attributes>
  <title>NYPR</title>
  <g class="new-york">
    <polygon class="N" points="155.73 20.19 140.46 0.49 135.82 0.49 135.82 28.99 140.74 28.99 140.74 8.71 156.46 28.99 160.66 28.99 160.66 0.49 155.73 0.49 155.73 20.19 155.73 20.19" />
    <polygon class="E" points="192.03 0.49 170.9 0.49 170.9 28.99 192.23 28.99 192.23 24.51 175.91 24.51 175.91 16.86 190.2 16.86 190.2 12.38 175.91 12.38 175.91 4.97 192.03 4.97 192.03 0.49 192.03 0.49" />
    <polygon class="W" points="210.85 21.62 204.05 0.49 198.63 0.49 208.57 29.19 212.89 29.19 219.89 8.71 226.89 29.19 231.21 29.19 241.15 0.49 235.89 0.49 229.09 21.62 222.09 0.41 217.86 0.41 210.85 21.62 210.85 21.62" />
    <polygon class="Y" points="268.63 17.63 279.94 0.49 274.2 0.49 266.14 13.11 258.16 0.49 252.26 0.49 263.58 17.75 263.58 28.99 268.63 28.99 268.63 17.63 268.63 17.63" />
    <path class="O" d="M298.36,0a14.61,14.61,0,0,0-14.94,14.78,14.9,14.9,0,0,0,29.8-.08A14.48,14.48,0,0,0,298.36,0Zm0,24.88c-5.66,0-9.69-4.61-9.69-10.18s3.95-10.1,9.61-10.1S308,9.2,308,14.78s-4,10.1-9.61,10.1Z" />
    <path class="R" d="M338.44,18.2c4-1.1,6.79-3.95,6.79-8.67,0-5.58-4-9-10.58-9H321.94V29h5V19.05h6.27l7,9.94h5.9L338.44,18.2ZM327,14.62V5.05h7.29c3.71,0,5.9,1.63,5.9,4.76,0,2.94-2.28,4.81-5.86,4.81Z" />
    <polygon class="K" points="367.42 12.75 379.27 0.49 373.12 0.49 359.57 14.82 359.57 0.49 354.56 0.49 354.56 28.99 359.57 28.99 359.57 20.73 364 16.16 373.74 28.99 379.8 28.99 367.42 12.75 367.42 12.75" />
  </g>

  <g class="public">
    <g class="P">
      <path d="M24.12,149.53V119.85H38.54c10.4,0,19.2-2.62,25.27-7.43h0c6-4.84,9.62-11.78,9.65-21.41h0v-.24c0-9-3.23-15.84-8.94-20.61h0c-5.71-4.77-14.16-7.49-24.75-7.49H5v86.84H0V57.69H39.77c11.41,0,21,3,27.93,8.65h0C74.58,72,78.45,80.53,78.43,90.77h0V91c0,10.89-4.3,19.6-11.54,25.29h0c-7.23,5.72-17.15,8.51-28.35,8.51H29.08v24.7h-5v0Z" />
      <path d="M49.69,81.43C46.68,79,42.62,78,37.91,78H24.12v28H38c4.71,0,8.76-1.23,11.7-3.66a12.79,12.79,0,0,0,4.58-10.13v-.25a12.9,12.9,0,0,0-4.62-10.45ZM38,101h-9v-18h8.83c4,0,6.89.92,8.66,2.37s2.75,3.41,2.78,6.58v.25c-.13,5.35-3.53,8.62-11.32,8.83Z" />
    </g>


    <g class="U">
      <path d="M108.19,141.77c-7.59-7.11-11.66-17.86-11.64-31.91h0V57.67h5v52.19c0,13.16,3.72,22.3,10.08,28.29h0c6.37,6,15.74,9,27.72,9h0c12,0,21.48-3,28-9h0c6.49-6,10.3-15.31,10.32-28.91h0V57.69h5v51.55c0,14.48-4.19,25.4-11.91,32.55h0c-7.71,7.15-18.59,10.32-31.34,10.32h0c-12.77,0-23.54-3.24-31.12-10.34Z" />
      <path d="M126.07,125c-3.34-3.66-5-9-5-15.64h0V57.65h5v51.71c0,5.88,1.48,9.83,3.73,12.29h0c2.26,2.46,5.46,3.73,9.82,3.75h0c4.38,0,7.61-1.25,9.85-3.61h0c2.24-2.36,3.7-6.13,3.7-11.81h0V57.69h5V110c0,6.5-1.71,11.68-5.07,15.23h0c-3.34,3.54-8.14,5.17-13.45,5.15h-.08c-5.3,0-10.08-1.71-13.4-5.36Z" />
    </g>

    <g class="B">
      <path d="M243.52,111.74c-2.57-1.78-6-2.58-10.36-2.58H212.29v21h21.12c4,0,7.34-.75,9.93-2.5a9.26,9.26,0,0,0,4.11-7.93v-.25a9.1,9.1,0,0,0-3.93-7.72Zm-1,8a4.27,4.27,0,0,1-2,3.84c-1.35,1-3.77,1.64-7.12,1.63H217.25V114.12h15.91c3.73,0,6.19.74,7.51,1.68a4.13,4.13,0,0,1,1.82,3.66v.25Z" />
      <path d="M240,79.36c-2.46-1.69-5.69-2.39-9.6-2.41H212.29V97.21h17.64c3.93,0,7.23-.63,9.82-2.28a8.92,8.92,0,0,0,4.1-7.78V86.9A8.89,8.89,0,0,0,240,79.36Zm-1.14,7.79a3.88,3.88,0,0,1-1.83,3.62c-1.31.86-3.73,1.49-7.12,1.48H217.25V81.92h13.17c3.31,0,5.56.65,6.76,1.51a3.86,3.86,0,0,1,1.7,3.47v.25Z" />
      <path d="M272.17,122.92c0-.62,0-1.18,0-1.56,0-2.69-.91-13.84-13.62-20.33,10.91-7.84,9.77-19.1,9.77-19.1,0-19.94-20.17-24.59-31.83-24.24H211.81v4.84h24.64c24.21,0,26.84,14,26.86,19.4,0,0,.85,15-15.42,19.27,0,0,19.23,4.84,19.23,20.76,0,0,2.86,22.61-30.41,22.61h-24.9v4.93h24.9c10.73,0,19.52-2.23,25.72-6.84a24.12,24.12,0,0,0,9.74-19.74Z" />
    </g>

    <g class="L">
      <polygon points="292.23 149.5 292.24 57.68 297.2 57.68 297.2 144.54 359.31 144.54 359.31 144.54 359.31 149.5 292.23 149.5 292.23 149.5" />
      <polygon points="316.35 128.37 316.35 57.68 321.31 57.68 321.31 123.4 359.31 123.41 359.31 128.37 316.35 128.37 316.35 128.37" />
    </g>

    <g class="I">
      <polygon points="400.94 149.5 400.94 57.68 405.91 57.68 405.91 149.5 400.94 149.5 400.94 149.5" />
      <polygon points="376.71 149.5 376.71 57.68 381.67 57.68 381.67 149.5 376.71 149.5 376.71 149.5" />
    </g>

    <path class="C" d="M473.61,151.28a47.39,47.39,0,0,1-33.5-13.47h0a47.24,47.24,0,0,1-13.86-34h0v-.25A47.45,47.45,0,0,1,440,69.66h0a48.38,48.38,0,0,1,34.57-13.83h0c18.48-.06,30.9,8,38.93,19.18h0l-4,2.9c-7.39-10.17-17.83-17.06-34.89-17.12h0c-25.06.05-43.34,18.72-43.39,42.76h0v.25c0,24.64,18.82,42.46,42.39,42.51h0c17.37-.07,27.24-6.79,35-16.62h0l-14.21-10.11c-5,5.65-11,9.76-20.06,9.69h0a22,22,0,0,1-16.81-7.57h0a27.34,27.34,0,0,1-6.42-18.15h0v-.24a27,27,0,0,1,6.42-17.9h0a22.1,22.1,0,0,1,16.81-7.58h0c9.19,0,15.81,4.59,21,11.13h0l-3.88,3.09c-4.79-5.9-9.6-9.21-17.08-9.26h0c-10.63,0-18.19,8.91-18.27,20.52h0v.24c.09,12,7.63,20.74,18.27,20.76h0c8.23-.07,12.58-3.53,17.73-9.66h0l1.47-1.78,22.07,15.71-1.47,2c-8.37,11.68-20.42,20.67-40.29,20.67h-.25Z" />
  </g>

  <g class="radio">
    <path class="R" d="M200.89,195.92c4-1.11,6.8-3.95,6.8-8.68,0-5.58-4-9-10.59-9H184.39v28.51h5v-9.94h6.27l7,9.94h5.9l-7.69-10.79Zm-11.49-3.59v-9.57h7.29c3.71,0,5.91,1.63,5.91,4.76,0,2.93-2.28,4.81-5.87,4.81Z" />
    <path class="A" d="M232.54,178h-4.65l-12.54,28.71h5.13l2.93-6.89h13.48l2.89,6.89h5.3L232.54,178Zm-7.29,17.38,4.88-11.4,4.93,11.4Z" />
    <path class="D" d="M263.25,178.2H252.62v28.51h10.63c9,0,15.15-6.23,15.15-14.3s-6.19-14.21-15.15-14.21Zm0,24h-5.62V182.76h5.62c6,0,9.89,4.11,9.89,9.73s-3.91,9.66-9.89,9.66Z" />
    <polygon class="I" points="287.4 178.2 287.4 206.71 292.41 206.71 292.41 178.2 287.4 178.2 287.4 178.2" />
    <path class="O" d="M316.36,177.71a14.74,14.74,0,1,0,14.87,14.7,14.61,14.61,0,0,0-14.87-14.7Zm0,24.88c-5.65,0-9.69-4.6-9.69-10.18s3.95-10.1,9.61-10.1,9.69,4.61,9.69,10.18-4,10.1-9.61,10.1Z" />
  </g>

</svg>
