<svg ...attributes width="{{@width}}" height="{{@height}}"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Search Icon</title>
  <path d="M12.72,3.78a8.22,8.22,0,0,1,8,8.37,8.48,8.48,0,0,1-2.36,5.91,7.84,7.84,0,0,1-5.69,2.45,8.22,8.22,0,0,1-8-8.36,8.22,8.22,0,0,1,8.05-8.37M19,22.44l7,7a1.72,1.72,0,0,0,2.44,0,1.74,1.74,0,0,0,0-2.44l-6.92-6.92a12.4,12.4,0,0,0,2.85-8A12,12,0,0,0,12.72,0,12,12,0,0,0,1,12.17,12,12,0,0,0,12.72,24.35,11.28,11.28,0,0,0,19,22.44Z" />
</svg>
