<svg class="spotify-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" ...attributes>
  <title>Spotify</title>
  <path d="M8.5 0a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zm3.898 12.26a.53.53 0 0 1-.729.175c-1.996-1.22-4.508-1.495-7.467-.82a.53.53 0 0 1-.235-1.033c3.237-.74 6.015-.42 8.255.948a.53.53 0 0 1 .176.73zm1.04-2.315a.663.663 0 0 1-.911.218c-2.285-1.404-5.768-1.811-8.47-.99a.664.664 0 0 1-.385-1.269c3.087-.937 6.924-.483 9.548 1.13.312.191.41.6.218.91zm.09-2.41c-2.74-1.628-7.26-1.777-9.875-.983A.795.795 0 1 1 3.19 5.03c3.003-.911 7.994-.735 11.148 1.137a.794.794 0 1 1-.81 1.367h-.001z" />
</svg>