@tailwind preflight;
@tailwind components;
@tailwind utilities;

// CSS imports
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

// third party imports
$ember-basic-dropdown-content-z-index: 10000;
@import "ember-basic-dropdown";

// design system
@import "nypr-design-system/vars/colors";
@import "nypr-design-system/atoms/media-object";
@import "nypr-design-system/objects/toggle-box";
@import "nypr-design-system/objects/article-header";

// local
@import "app-vars";

:root {
  // string interpolation required for css variables
  --brand-primary: #{$black};
  --brand-secondary: #{$light-cornflower-blue};
}

html,
body,
p {
  font-size: 1rem;
  line-height: 1.625;
}

[class^=c-],
[class^=o-],
[class^=u-] {
  p {
    margin: 0;
  }
}

label {
  display: inline-block;
  line-height: 1;
  margin-bottom: 8px;
  cursor: pointer;
}

fieldset {
  margin-bottom: 8px;
}

input[type=search],
input[type=text],
input[type=email],
input[type=tel] {
  font-family: 'Lato', sans-serif !important;
}

:not(.theme-typography) {
  > h1:not(.o-headline),
  > h2:not(.o-section-heading),
  > h3,
  > h4,
  > h5,
  > h6 {
    letter-spacing: initial;
    // font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  > h2 {
    font-size: 1.5em;
  }

  > h3 {
    font-size: 1.17em;
    font-weight: initial;
  }

  > h4 {
    font-size: 1.10rem;
    margin: 1.33rem 0;
  }
}

img {
  border-style: none;
}


.AddonDocs-DocsViewer-Nav {
  width: auto;
  padding-left: 0;
}

.docs-header {

  > header > div {
    max-width: none;
  }

  input[type=text] {
    font-size: 12px;
    padding: 8px 8px 8px 24px;
  }
}

.example-grid {
  width: 100%;
  overflow: auto;
  margin: 0 0 16px;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    font-size: 12px;
  }

  tr {
    background-color: white;
  }

  tbody > tr {
    border-top: 1px solid #c6cbd1;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  td > svg {
    height: 35px;
    max-width: 55px;
  }

  td,
  th {
    text-align: center;

    * {
      vertical-align: middle;
    }
  }
}

.example-label {
  font-size: 12px;
}

svg {
  fill: inherit; // design system sets svg colors with cascading classes
}

.btn {
  background-color: #eaeaea;
  padding: 8px 12px;
  color: #333;
}
