@import "../mixins/buttons";

.nypr-button {
  @include btn;
}

.nypr-button--nypr {
  color: black;
  padding: 8px;
  border: 1px solid #333;
}

.nypr-button--wnyc {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: $wnyc-red;
}
