{{#if segments}}
    <!-- todo: display segments from api when they are available -->
    <!-- implementation notes: https://github.com/nypublicradio/nypr-design-system/pull/135#discussion_r478585917 -->
    <!-- dummy data -->
    <ul class="episode-segments">
        <li class="episode-segments-segment">
            <div class="episode-segments-segment-dot"></div>
            <div class="episode-segments-segment-text">
                Trump Executive Orders On Unemployment See States Footing Part Of The Bill
            </div>
        </li>
        <li class="episode-segments-segment">
            <div class="episode-segments-segment-dot"></div>
            <div class="episode-segments-segment-text">
                Woman Receives New ID With Photo Of Empty Chair
            </div>
        </li>
        <li class="episode-segments-segment">
            <div class="episode-segments-segment-dot"></div>
            <div class="episode-segments-segment-text">
                News Brief: Facebook Helping Voters, Kamala Harris And Representation, Thai Protests
            </div>
        </li>
        <li class="episode-segments-segment">
            <div class="episode-segments-segment-dot"></div>
            <div class="episode-segments-segment-text">
                The U.S. Military Is Using Esports As A Recruitment Tool
            </div>
        </li>
    </ul>
    <!-- end dummy data -->
{{else}}
    {{#if episodeTitle}}
        <div class="episode-description">
            <div class="on-today">On Today's Show</div>
            <div class="episode-description-text">
                {{{strip-html episodeTitle}}}
            </div>
        </div>
    {{/if}}
{{/if}}

{{yield}}
