$font-heading: "Playfair Display"; //todo: add a named font
$font-body: "OpenSans-Regular", sans-serif; //todo: add a named font
$font-body-bold: "OpenSans-Bold", sans-serif;

$font-cool-heading: 'Monoton', cursive;
$font-pixel-heading: 'Press Start 2P', monospace;
$font-pixel-body: 'OpenSans', monospace;
