{{#if @heading}}
  <h2 class="o-section__heading o-bg-text-accent">
    {{@heading}}
  </h2>
{{/if}}

<ul class="u-spacing--and-half">
  {{#each @items as |item i|}}
    <li>
      {{yield item i}}
    </li>
  {{/each}}
</ul>
