{{!-- BEGIN-SNIPPET nypr-m-figcaption.hbs --}}
<p>
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    <NyprASvg @icon='arrow-dashed'/>
  </span>
  {{@caption}}
  {{#if @credit}}
    <span class="o-credit">
      {{@credit}}
    </span>
  {{/if}}
</p>
{{!-- END-SNIPPET --}}
