{{yield (hash heading=(component 'nypr-o-featured-block-list/heading'))}}

<div class="c-featured-blocks__inner">
  <div class="c-featured-blocks__col1 u-spacing--and-half">
    {{yield (hash featured=(component 'blank-template'))}}
  </div>

  <div class="c-featured-blocks__col2 u-spacing--double">
    {{yield (hash col=(component 'blank-template'))}}
  </div>
</div>
