<div class="c-main-header__left u-align-items--center">
  {% include '@organisms/global/side-menu.twig' %}

  <div class="c-menu-toggle">
    {% include '@atoms/buttons/menu-button.twig' %}
  </div>

  <div class="c-main-header__branding">
    <a href="">{% include '@atoms/images/gothamist-logo.twig' %}</a>
  </div>
</div>

{%
  include '@molecules/navigation/primary.twig'
  with {
    "primary_nav_classes": "c-primary-nav--top"
  }
%}

<div class="c-main-header__right js-this">
  {%
    include '@atoms/buttons/button.twig'
    with {
      "button_text": "Donate",
      "button_classes": "c-main-header__donate o-button--sm"
    }
  %}
  <button class="c-search-toggle js-toggle" data-prefix="top-search" data-toggled="this" id="search-toggle" aria-expanded="false">
    <span class="c-search-toggle__icon o-icon o-icon--search u-icon--xs">{% include '@atoms/icons/icon-search.twig' %}</span>
  </button>
  {%
    include '@molecules/forms/search-entry.twig'
    with {
      "search_classes": "c-search--top",
      "has_close": true
    }
  %}
</div>
