{{!-- BEGIN-SNIPPET nypr-m-to-top.hbs --}}
<button {{action toTop}} class="o-to-top u-font--secondary-style u-font--xs u-color--black" data-test-to-top>
  <span class="o-icon o-icon--up-arrow u-icon--m">
    <Icon @icon="gothamist/arrow" @title="arrow"/>
  </span>
  <strong>Back to Top</strong>
</button>
{{!-- END-SNIPPET --}}
