{{!-- BEGIN-SNIPPET nypr-o-footer.hbs --}}
<NyprMToTop/>

<footer class="c-main-footer" data-test-main-footer>

  <div class="l-container l-wrap u-spacing--triple">

    <div class="c-main-footer__inner">

      <div class="c-main-footer__col1 u-spacing--triple">

        <div class="c-main-footer__branding">

          <div class="c-main-footer__logo">
            {{#link-to 'index'}}
              <NyprASvg @icon='gothamist-logo--stacked'/>
            {{/link-to}}
          </div>

          <div class="c-main-footer__utility">

            <a href="" class="c-main-footer__send-story u-font--secondary-style u-font--xs"><strong>Send Us a Story Idea</strong></a>

            <div class="c-main-footer__social">
              <NyprMShareTools @label='Follow Us' as |share|>
                <share.link @service='facebook' @username='Gothamist'/>
                <share.link @service='twitter' @username='gothamist' />
                <share.link @service='instagram' @username='Gothamist' />
                <share.link @service='youtube' @username='UCY_2VeS5Q9_sMZRhtvF0c5Q'/>
              </NyprMShareTools>
            </div>
          </div>

        </div>

        <div class="c-main-footer__slogan">
          {{yield (hash slogan=(component 'blank-template'))}}
        </div>

        <div class="c-main-footer__nav">
          {{yield (hash nav=(component 'nypr-m-secondary-nav'))}}
        </div>

      </div>

      <div class="c-main-footer__col2">

        <div class="c-main-footer__signup">
          {{yield (hash signup=(component 'blank-template'))}}
        </div>

      </div>

    </div>

    <div class="c-main-footer__brand-group">
      <div class="c-main-footer__nypr-logo">
        <NyprASvg @icon='nypr-logo'/>
      </div>

      <NyprMBrandsLinkroll/>
    </div>

    <div class="c-main-footer__bottom">

      <div class="c-main-footer__copyright">
        <p class="u-font--secondary-style u-font--xs u-color--white">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio. All rights reserved.</p>
      </div>

      <div class="c-main-footer__terms-links">
        <a href="https://www.wnyc.org/terms" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener">
          <strong>Terms of Use</strong>
        </a>
        <a href="https://www.wnyc.org/privacy" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener">
          <strong>Privacy Policy</strong>
        </a>
      </div>

    </div>

  </div>

</footer>
{{!-- END-SNIPPET --}}
