{{yield (hash leaderboard=(component 'nypr-o-header/leaderboard'))}}

<div class="c-main-header__inner {{if this.outOfViewport 'c-floating-header is-visible'}}">

  {{yield (hash
    menu=(component 'nypr-o-header/menu' donateURL=@donateURL)
    left=(component 'nypr-o-header/left' openMenu=(action (mut this.isOpen) (not this.isOpen)) ariaExpanded=(if this.isOpen 'true' 'false'))
    nav=(component 'nypr-o-header/nav' class="c-primary-nav--top")
    right=(component 'nypr-o-header/right')
    outOfViewport=this.outOfViewport
  )}}

  {{#if this.outOfViewport}}
    <NyprMProgressBar />
  {{/if}}

  <div class="c-content-overlay"></div>

</div>

<div class="c-main-header__spacer" style={{spacerStyle}}></div>
