{{#if @navItems}}
  <ul class="c-secondary-nav__list">
    {{#each @navItems as |item|}}
      <li class="c-secondary-nav__item">
        {{#if item.url}}
          <a
            href={{item.url}}
            class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white"
            target="_blank"
            rel="noopener"
          >
            {{item.text}}
          </a>
        {{else}}
          {{#link-to
            params=item.route
            class="c-secondary-nav__link u-font--secondary-style u-font--xs u-color--white u-has-accent u-has-accent--white"
          }}
            {{item.text}}
          {{/link-to}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
