<div class="nypr-player-volume-control">
  <div class="nypr-player-volume-slider-wrapper">
    <div class="js-volume-slider nypr-player-volume-slider">
      <div class="nypr-player-volume-slider-track" style={{trackWidth}} {{! template-lint-disable "no-inline-styles" }}></div>
      <div class="js-volume-slider-handle nypr-player-volume-slider-handle" style={{handlePosition}} {{! template-lint-disable "no-inline-styles" }}></div>
    </div>
  </div>
  <button tabindex="0" aria-label="toggle mute" class="nypr-player-button mod-volume" {{action 'toggleMute'}}>
    <Icon @icon="volume" @title="volume unmuted" class="nypr-player-icon mod-volume-unmuted"/>
    <Icon @icon="volume-muted" @title="volume muted" class="nypr-player-icon mod-volume-muted"/>
  </button>
</div>
