{{!-- BEGIN-SNIPPET nypr-m-share-tools.hbs --}}
{{#if @label}}
  <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">{{@label}}</span>
{{/if}}
<div class="c-share-tools__group">
  {{yield (hash
    share=(component 'nypr-m-share-tools/share')
    link=(component 'nypr-m-share-tools/link')
  )}}
</div>
  {{!-- <div class="c-share-tools__extra">
    <a href="" class="c-share-tools__link"><span class="o-icon u-icon--xs">{% include '@atoms/icons/icon-email.twig' %}</span></a>
  </div> --}}
{{!-- END-SNIPPET --}}
