<button {{action toTop}} class="o-to-top u-font--secondary-style u-font--xs u-color--black">
  <span class="o-icon o-icon--up-arrow u-icon--m">
    <NyprASvg @icon='dashed-arrow'/>
  </span>
  <strong>Back to Top</strong>
</button>
