{{!-- BEGIN-SNIPPET nypr-m-block-meta.hbs --}}
{{#if @author}}
  <span class="c-block-meta__author u-font--secondary-style u-font--xs">{{@author}}</span>
{{/if}}
{{#if @timestamp}}
  <span class="c-block-meta__timestamp u-font--secondary-style u-font--xs">{{@timestamp}}</span>
{{/if}}
{{#if @commentCount}}
  {{#link-to @route @model (query-params to=@hash) class="c-block-meta__comments u-font--secondary-style u-font--xs"}}
    <span class="o-icon o-icon--comment u-icon--xs">
      <NyprASvg @icon='comment'/>
    </span>
    {{@commentCount}}
  {{/link-to}}
{{/if}}
{{!-- END-SNIPPET --}}
