{{!-- BEGIN-SNIPPET nypr-a-media-object.hbs --}}
<div class="media-object__media">
  {{yield (hash media=(component 'blank-template'))}}
</div>

<div class="media-object__object">
  {{yield (hash object=(component 'blank-template'))}}
</div>
{{!-- END-SNIPPET --}}
