{{#if textMode}}
<Icon @icon="play-shapes-text-button" class="play-text-button-icon" />
<div class="play-button-text">{{text}}</div>
{{else}}
<Icon @icon="play-shapes" class="play-button-icon" />
{{/if}}