<svg role="img" class="gothamist-logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119 27" ...attributes>
  <title>{{@title}}</title>
  <g class="gothamist-buildings">
    <g class="building">
      <polygon points="0.01 21.13 4.62 21.13 4.62 9.04 0.01 9.04 0.01 21.13" />
    </g>
    <g class="building">
      <polygon points="6.82 13 9.66 13 9.66 11.11 6.82 11.11 6.82 13" />
      <polygon points="5.68 19.23 10.52 19.23 10.52 12.46 5.68 12.46 5.68 19.23" />
      <polygon points="5.4 21.13 10.8 21.13 10.8 18.96 5.4 18.96 5.4 20.86" />
    </g>
    <g class="building">
      <polygon points="11.57 21.13 17.81 21.13 17.81 6.66 11.57 6.66 11.57 21.13" />
      <polygon points="12.22 7.31 17.34 7.31 17.34 5.42 12.22 5.42 12.22 7.31" />
      <polygon points="13.64 6.23 15.35 6.23 15.35 4.88 13.64 4.88 13.64 6.23" />
      <polygon points="14.49 8.67 15.06 8.67 15.06 1.08 14.49 1.08 14.49 8.67" />
    </g>
    <g class="building">
      <polyline points="18.76 0 25.01 3.21 25.01 21.13 18.76 21.13 18.76 0" />
    </g>
    <g class="building">
      <polygon points="25.58 21.13 29.27 21.13 29.27 11.38 25.58 11.38 25.58 21.13" />
      <polygon points="26.43 11.4 28.7 11.4 28.7 10.56 26.43 10.56 26.43 11.4" />
    </g>
  </g>
  <g class="letters">
    <path class="G" d="M38.92,15.61c0,.77.35,1.27,1.18,1.27s1.17-.5,1.17-1.27-.34-1.26-1.17-1.26S38.92,14.84,38.92,15.61Zm1.22,7.22c-1.1,0-1.65.27-1.65.94s.55.94,1.65.94,1.66-.27,1.66-.94S41.25,22.83,40.14,22.83Zm4.72-8.09H43.64a5.83,5.83,0,0,1,.07.87c0,2.41-1.24,3.62-3.61,3.62h-.51a.65.65,0,0,0-.62.7.57.57,0,0,0,.53.64h.64c2.74,0,4.15,1.12,4.15,3.2S42.88,27,40.14,27,36,25.85,36,23.77a2.81,2.81,0,0,1,1.08-2.4,2.71,2.71,0,0,1-.41-1.44,2.31,2.31,0,0,1,.64-1.71,3.66,3.66,0,0,1-.83-2.61c0-2.4,1.27-3.62,3.62-3.62h4.76Z" />
    <path class="O" d="M49.33,17c0,1.59.47,2.37,1.58,2.37s1.57-.78,1.57-2.37-.47-2.38-1.57-2.38S49.33,15.39,49.33,17Zm1.58,5c-2.88,0-4.43-1.67-4.43-5s1.55-5,4.43-5,4.43,1.67,4.43,5S53.79,22,50.91,22Z" />
    <path class="T" d="M60.23,14.74v2.15c0,2.11,0,2.69,1.26,2.69a2.1,2.1,0,0,0,1.1-.39V21.4a4.3,4.3,0,0,1-2,.58c-2.66,0-3-1.38-3-4.36V14.74H56.15V12.05h1.46V9.82l2.62-1.16v3.39h2.36v2.69H60.23" />
    <path class="H" d="M67,22H64.2V7.36L67,6.17v6.46a6.3,6.3,0,0,1,2.49-.81c2.13,0,2.78,1.46,2.78,3.47V22H69.48V16c0-1-.41-1.32-1-1.32a3,3,0,0,0-1.44.57V22" />
    <path class="A" d="M79.53,15.3a1.67,1.67,0,0,0-1.38-.72c-1.09,0-1.46.86-1.46,2.41s.37,2.4,1.46,2.4a1.67,1.67,0,0,0,1.38-.72ZM82.35,12v7.16c0,.9.22,1.09.68,1.09a1.09,1.09,0,0,0,.51-.14v1.35a3.83,3.83,0,0,1-1.89.53A2.07,2.07,0,0,1,80,21.22a3.58,3.58,0,0,1-2.21.76c-2.57,0-3.89-1.79-3.89-5s1.32-5,3.89-5a3.42,3.42,0,0,1,2.36.91Z" />
    <path class="M" d="M87.82,22H85.16V13.12L87.82,12v1.15a5.21,5.21,0,0,1,2.23-.8,2.12,2.12,0,0,1,2,1.09,5.44,5.44,0,0,1,2.66-1.09c1.91,0,2.48,1.39,2.48,3.29V22H94.58V16.27c0-1-.35-1.25-.85-1.25a2.22,2.22,0,0,0-1.2.57V22H89.87V16.27c0-1-.35-1.25-.85-1.25a2.22,2.22,0,0,0-1.2.57V22" />
    <path class="I" d="M102.08,11.49V22h-1.61V12.19ZM100.47,8.9h1.61V7h-1.61Z" />
    <path class="S" d="M105.32,19.22a4,4,0,0,0,2.79,1.47c.84,0,1.56-.33,1.56-1.42s-.88-1.38-1.65-1.67c-1.22-.47-2.72-1.11-2.72-3A2.56,2.56,0,0,1,108.13,12a4.38,4.38,0,0,1,2.24.57v1.5a3.6,3.6,0,0,0-2.24-.78c-.79,0-1.56.35-1.56,1.28s.7,1.19,1.45,1.47c1.22.48,2.92,1.22,2.92,3.24A2.56,2.56,0,0,1,108.11,22a4.13,4.13,0,0,1-2.79-1.1V19.22" />
    <path class="T" d="M115.66,13.33v4.6c0,2.13.38,2.62,1.76,2.62a4.69,4.69,0,0,0,1.58-.44v1.38a6.07,6.07,0,0,1-1.93.49c-2.48,0-2.91-1.58-2.91-4.05v-4.6h-1.61V12.05h1.61V9.34l1.5-.68v3.39H119v1.28h-3.34" />
  </g>
</svg>
