.c-article__gallery {

  &.gallery-is-active {
    transform: translateX(100%);
    height: auto;
    opacity: 1;
    top: 0;
    transition-timing-function: var(--animation-duration-standard);
    transition: var(--animation-easing-standard);
  }

  &.c-article__gallery--static {
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    opacity: initial;
    transition: initial;
  }
}
