{{!-- BEGIN-SNIPPET nypr-o-gallery-overlay-billboard.hbs --}}
<div class="l-wrap">
  <div class="o-ad o-ad--billboard" data-test-gallery-billboard>
    {{yield}}
  </div>
</div>
{{!-- END-SNIPPET --}}