{{!-- BEGIN-SNIPPET nypr-o-gallery-overlay-billboard.hbs --}}
<div class="l-wrap">
  <div class="o-ad o-ad--billboard" data-test-gallery-billboard>
    {{yield}}

    <span class="o-ad__label u-font--secondary-style u-font--xs u-color--gray">
      Advertisement
    </span>
  </div>
</div>
{{!-- END-SNIPPET --}}
