{{#if parents}}
  <p>
    <strong><code>{{name}}</code></strong> is used in
    {{#each parents as |parent|}}
      {{link-to parent.label parent.value}},
    {{/each}}
  </p>
{{/if}}

{{#if children}}
  <p>
    <strong><code>{{name}}</code></strong> uses
    {{#each children as |child|}}
      {{link-to child.label child.value}},
    {{/each}}
  </p>
{{/if}}
