<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
<div class='sound-animation-bar'></div>
