{{!-- BEGIN-SNIPPET nypr-m-figcaption-caption.hbs --}}
<div class="o-caption__text">
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    <NyprASvg @icon='arrow-dashed'/>
  </span>
  <span>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{{@caption}}}
    {{/if}}
  </span>

  {{#if @credit}}
    {{nypr-m-figcaption/credit credit=@credit}}
  {{/if}}
</div>
{{!-- END-SNIPPET --}}
