{{!-- BEGIN-SNIPPET nypr-m-figcaption-caption.hbs --}}
<div class="o-caption__text">
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    <NyprASvg @icon='arrow-dashed'/>
  </span>
  {{#if (has-block)}}
    <span>
      {{yield}}
    </span>
  {{else if @caption}}
    <span>
      {{{@caption}}}
    </span>
  {{/if}}

  {{#if @credit}}
    {{nypr-m-figcaption/credit credit=@credit}}
  {{/if}}
</div>
{{!-- END-SNIPPET --}}
