{{!-- BEGIN-SNIPPET nypr-m-figcaption-caption.hbs --}}
<span class="o-caption__text">
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    <NyprASvg @icon='arrow-dashed'/>
  </span>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@caption}}
  {{/if}}
</span>
{{!-- END-SNIPPET --}}
