{{!-- BEGIN-SNIPPET nypr-m-figcaption-caption.hbs --}}
{{#if (or (has-block) @caption)}}
  <span class="o-icon o-icon--dashed-arrow u-icon--s">
    <NyprASvg @icon='arrow-dashed'/>
  </span>
{{/if}}
<div class="o-caption__text">
  {{#if (has-block)}}
    <span>
      {{yield}}
    </span>
  {{else if @caption}}
    <span>
      {{{@caption}}}
    </span>
  {{/if}}

  {{#if @credit}}
    {{nypr-m-figcaption/credit
      credit=@credit
      includeIcon=(and (not @caption) (not (has-block)))}}
  {{/if}}
</div>
{{!-- END-SNIPPET --}}
