{{!-- BEGIN-SNIPPET nypr-m-share-tools-link.hbs --}}
<a href={{or @href this.href}} class="c-share-tools__link o-icon {{@service}}" target="_blank" rel="noopener">
  <NyprASvg @icon={{@service}}/>
</a>
{{!-- END-SNIPPET --}}
