{{!-- BEGIN-SNIPPET nypr-m-share-tools-share.hbs --}}
<button class="c-share-tools__link o-icon" {{action 'openShare' @service @params @url}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <NyprASvg @icon={{@service}}/>
  {{/if}}
</button>
{{!-- END-SNIPPET --}}
