{{docs-hero
  logo=false
  prefix='New York Public Radio'
  heading='Design System'
  byline=''}}

{{#docs-demo as |demo|}}
  {{#demo.example name='my-demo.hbs'}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}
