/*------------------------------------*\
    $THEME OVERRIDES
\*------------------------------------*/

.c-main-header {


  &.side-menu-is-active {
    .c-main-header__branding {
      opacity: 0;
    }
  }
}

// Header with full stacked logo
.c-main-header--emphasis {

  .c-main-header__ad-unit {
    padding-bottom: $space-half;

    @include media('>medium') {
      padding-bottom: 30px;
    }
  }

  &:not(.out-of-viewport) .c-primary-nav--top {
    @include media('>xxlarge') {
      padding-left: 166px;
    }
  }

  &:not(.out-of-viewport) .c-main-header__branding {
    width: 110px;
    position: relative;
    bottom: -$space;
    align-self: flex-bottom;
    z-index: $z-index-heading-logo;
    left: $space-half;
    opacity: 1;
    transition: opacity .15s $hard-ease-in;

    @include media('>medium') {
      width: 135px;
      bottom: -$space-half;
    }

    @include media('>xlarge') {
      left: $col-width + $gutter + px;
    }

    $xl-container: ($max-width-xl + $space-double);
    @include media('>xxlarge') {
      position: absolute;
      bottom: -43px;
      left: calc(50% - #{$xl-container} / 2 + #{$space-double});
    }
  }

  .gothamist-letters {
    fill: $c-black;
  }
  .gothamist-buildings {
    fill: $c-white;
  }
}



.c-main-footer {
  .gothamist-letters {
    fill: $c-white;
  }
  .gothamist-buildings {
    fill: $c-dark-bg;
  }
}

// Standard repeating dashed border
.o-border-accent {
  background-image: repeating-linear-gradient(to right, $c-black 0%, $c-black 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to right, $c-black 0%, $c-black 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, $c-black 0%, $c-black 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, $c-black 0%, $c-black 44%, transparent 44%, transparent 100%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
}
