/*------------------------------------*\
    $THEME FONTS
\*------------------------------------*/

// https://fonts.google.com/specimen/Source+Sans+Pro
// https://fonts.google.com/specimen/Libre+Baskerville
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Source+Sans+Pro:400,400i,700,700i&display=swap');
