/*------------------------------------*\
    $THEME OVERRIDES
\*------------------------------------*/

.c-main-header {
  &.side-menu-is-active {
    .c-main-header__branding {
      opacity: 0;
    }
  }
}

// Header donate
.c-main-header__donate.o-button {
  font-size: var(--font-size-5);
}

// Header search
.c-search--top .c-search__close path {
  fill: rgb(var(--color-ember-red));
}

.c-search--top .c-search__button:hover {
  opacity: var(--opacity-hover);
}

// Header with full stacked logo
.c-main-header--emphasis {
  .c-main-header__ad-unit {
    padding-bottom: var(--space-2);

    @include media('>medium') {
      padding-bottom: 30px;
    }
  }

  &:not(.out-of-viewport) .c-primary-nav--top {
    @include media('>xxlarge') {
      padding-left: 166px;
    }
  }

  &:not(.out-of-viewport) .c-main-header__branding {
    width: 110px;
    position: relative;
    bottom: calc(var(--space-3) * -1);
    align-self: flex-bottom;
    z-index: $z-index-heading-logo;
    left: var(--space-2);
    opacity: 1;
    transition: var(--animation-duration-fast) var(--animation-easing-incoming); // used to be $hard-ease-in

    @include media('>medium') {
      width: 135px;
      bottom: calc(var(--space-2) * -1);
    }

    @include media('>xlarge') {
      left: calc(var(--grid-col-width) + var(--grid-gutter));
    }

    --xl-container: calc(var(--max-width-xl) + var(--space-5));
    @include media('>xxlarge') {
      position: absolute;
      bottom: -43px;
      left: calc(50% - var(--xl-container) / 2 + var(--space-5));
    }
  }

  .gothamist-letters {
    fill: rgb(var(--color-black));
  }

  .gothamist-buildings {
    fill: rgb(var(--color-black));
  }
}

// Footer
.c-main-footer {
  background-image: rgb(var(--color-cool-white));
  background: rgb(var(--color-cool-white));
  color: rgb(var(--color-black));

  a,
  a:visited,
  a:active {
    color: rgb(var(--color-ceramic-blue));
    text-decoration: none;

    &:hover {
      color: rgb(var(--color-black));
      text-decoration: none;
    }
  }

  .gothamist-letters {
    fill: rgb(var(--color-black));
  }

  .gothamist-buildings {
    fill: rgb(var(--color-black));
  }

  .c-newsletter-form__inner {
    border: 3px solid rgb(var(--color-black));
  }

  .c-newsletter-form__graphic path {
    fill: rgb(var(--color-sky-blue));
  }

  .c-main-footer__signup svg {
    fill: rgb(var(--color-black));
  }

  .c-newsletter-form__terms p {
    color: rgb(var(--color-black));
  }

  .c-newsletter-form__terms input[type="checkbox"] {
    background-color: transparent;
    border: 2px solid rgb(var(--color-black));
  }

  .c-newsletter-form__terms input[type="checkbox"]:checked {
    background-color: rgb(var(--color-black));
  }
}

// Headings
.c-basic__heading {
  @include typeface(header, 13);
  @include media(">=medium") {
    @include typeface(header, 15);
  }
}

.o-rte-text > h1, .o-rte-text > h2, .o-rte-text > h3, .o-rte-text > h4, .o-rte-text > h5, .o-rte-text > h6 {
  padding-top: var(--space-4);
}

// Standard repeating dashed border
.o-border-accent {
  background-image: repeating-linear-gradient(to right, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to right, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%), repeating-linear-gradient(to bottom, rgb(var(--color-black)) 0%, rgb(var(--color-black)) 44%, transparent 44%, transparent 100%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
}

// View All Brands Toggle Box
.c-toggle-box__label::before {
  background-color: rgb(var(--color-white));
}

.c-nypr-nav__link {
  text-decoration: none;
}

// Side menu
.c-search--side .c-search__input {
  border: 1px solid rgb(var(--color-concrete));
}

.c-side-menu .c-search__button:hover {
  background-color: rgb(var(--color-button-primary));
  opacity: var(--opacity-hover);
}

.c-share-tools__link:hover path {
  fill: rgb(var(--color-navigation-link-hover));
}

.c-primary-nav--side .c-primary-nav__link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
