@function hex2rgb($hexColor) {
  @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

:root {
  /* Theme Color Palette */

  /* Neutrals */
  --color-black:      #{hex2rgb(#000000)};
  --color-gray-dark:  #{hex2rgb(#333333)};
  --color-gray:       #{hex2rgb(#afafaf)};
  --color-light-gray: #{hex2rgb(#f3f3f3)};
  --color-white:      #{hex2rgb(#ffffff)};

  /* Forms */
  --color-valid:               #{hex2rgb(#089E00)};

  /* Brand Colors */
  --color-cool-white:    #{hex2rgb(#EAEFF0)};
  --color-ceramic-blue:  #{hex2rgb(#235B9C)};
  --color-concrete:      #{hex2rgb(#8C8C8C)};
  --color-ember-red:     #{hex2rgb(#C75423)};
  --color-cool-blue:     #{hex2rgb(#3B8AD1)};
  --color-sky-blue:      #{hex2rgb(#70C5F6)};
  --color-sea-green:     #{hex2rgb(#469C78)};
  --color-bright-purple: #{hex2rgb(#924db1)};
}

@mixin color-group-light {
  --color-primary-1:            var(--color-cool-blue);
  --color-primary-2:            var(--color-sea-green);
  --color-primary-3:            var(--color-bright-purple);
  --color-background:           var(--color-white);
  --color-background-muted:     var(--color-cool-white);
  --color-background-highlight: var(--color-cool-white);
  --color-text:                 var(--color-gray-dark);
  --color-text-print:           var(--color-black);
  --color-text-muted:           var(--color-concrete);
  --color-text-error:           var(--color-ember-red);
  --color-text-inverse:         var(--color-white);
  --color-text-metadata:        var(--color-gray-dark);

  /* Links */
  --color-link:                 var(--color-cool-blue);
  --text-decoration-link:       underline;
  --color-link-hover:           var(--color-sky-blue);
  --color-link-hover-background: var(--color-white);
  --text-decoration-link-hover: underline;
  --opacity-link-hover:         1;

  /* Navigation Links */
  --color-navigation-link:                 var(--color-black);
  --text-decoration-navigation-link:       underline;
  --color-navigation-link-hover:           var(--color-sky-blue);
  --text-decoration-navigation-link-hover: underline;
  --opacity-navigation-link-hover:         1;

  /* Header */
  --color-header-text: var(--color-white);
  --color-header-background: var(--color-cool-white);
  --color-header-label-text: var(--color-black);
  --color-header-button-background: var(--color-cool-blue);
  --color-header-button-text: var(--color-white);
  --color-header-button-hover-text: var(--color-white);
  --color-header-icon: var(--color-black);
  --color-header-icon-hover: var(--color-cool-blue);

  /* Tags */
  --color-tag-text:             var(--color-white);
  --color-tag-background:       var(--color-cool-blue);
  --color-tag-highlight:        var(--color-cool-blue);
  --color-tag-hover-text:       var(--color-white);
  --color-tag-hover-background: var(--color-cool-blue);
  --opacity-tag-hover:          var(--opacity-hover);

  /* Buttons */
  --color-button-primary:         var(--color-cool-blue);
  --color-button-primary-hover:   var(--color-cool-blue);
  --color-button-primary-pressed: var(--color-ceramic-blue);
  --opacity-button-primary-hover: var(--opacity-hover);

  --color-button-outline:         var(--color-cool-blue);
  --color-button-outline-hover:   var(--color-cool-blue);
  --color-button-outline-pressed: var(--color-ceramic-blue);
  --opacity-button-outline:       var(--opacity-hover);

  /* Borders */
  --color-border-subtle: var(--color-background-highlight);
  --color-border-standard: var(--color-background-highlight);
  --color-border-bold:   var(--color-background-highlight);

  /* Forms */
  --color-checkbox: var(--color-dark-gray);
  --color-placeholder-text: var(--color-brown-grey);
  --color-form-button: var(--color-reddish-orange);

  /* Lists */
  --color-bullet: var(--color-black);

  /* Pull Quotes */
  --color-pull-quote-text: var(--color-brown-grey);

  /* Gallery */
  --color-gallery-link: var(--color-white);
  --color-gallery-link-hover: var(--color-reddish-orange);
  --color-gallery-ad-label: var(--color-dirty-salmon);

  /* Footer */
  --color-footer-text: var(--color-black);
  --color-footer-link: var(--color-ceramic-blue);
}

@mixin color-group-dark {
  --color-primary-1:            var(--color-banana-yellow);
  --color-primary-2:            var(--color-reddish-orange);
  --color-primary-3:            var(--color-purple);
  --color-background:           var(--color-gray-dark);
  --color-background-muted:     rgb(var(--color-background));  //not assigned
  --color-background-highlight: var(--color-ceramic-blue);
  --color-text:                 var(--color-white);
  --color-text-print:           var(--color-black);
  --color-text-muted:           var(--color-concrete);
  --color-text-error:           var(--color-ember-red);
  --color-text-inverse:         var(--color-gray-dark);
  --color-text-metadata:        var(--color-white);

  /* Links */
  --color-link:                 var(--color-white);
  --text-decoration-link:       underline;
  --color-link-hover:           var(--color-white);
  --text-decoration-link-hover: underline;
  --opacity-link-hover:         var(--opacity-hover);

  /* Navigation Links */
  --color-navigation-link:                 var(--color-white);
  --text-decoration-navigation-link:       none;
  --color-navigation-link-hover:           var(--color-white);
  --text-decoration-navigation-link-hover: none;
  --opacity-navigation-link-hover:         var(--opacity-hover);

  /* Header */
  --color-header-text: var(--color-white);
  --color-header-background: var(--color-dark-gray);
  --color-header-label-text: var(--color-light-gray);
  --color-header-button-background: var(--color-reddish-orange);
  --color-header-button-text: var(--color-white);
  --color-header-button-hover-text: var(--color-white);
  --color-header-icon: var(--color-white);
  --color-header-icon-hover: var(--color-reddish-orange);

  /* Tags */
  --color-tag-text:             var(--color-white);
  --color-tag-background:       var(--color-banana-yellow);
  --color-tag-highlight:        var(--color-cool-blue);
  --color-tag-hover-text:       var(--color-white);
  --color-tag-hover-background: var(--color-reddish-orange);
  --opacity-tag-hover:          var(--opacity-hover);

  /* Buttons */
  --color-button-primary:         var(--color-cool-blue);
  --color-button-primary-hover:   var(--color-cool-blue);
  --color-button-primary-pressed: var(--color-cool-blue);
  --opacity-button-primary-hover: var(--opacity-hover);

  --color-button-outline:         var(--color-white);
  --color-button-outline-hover:   var(--color-white);
  --color-button-outline-pressed: var(--color-white);
  --opacity-button-outline:       var(--opacity-hover);

  --color-border-bold:          var(--color-background-highlight);      //none
  --color-border-standard:      var(--color-background-highlight);  //none
  --color-border-subtle:        var(--color-background-highlight);    //none

  /* Forms */
  --color-checkbox: var(--color-dark-gray);
  --color-placeholder-text: var(--color-brown-grey);
  --color-form-button: var(--color-reddish-orange);

  /* Lists */
  --color-bullet: var(--color-black);

  /* Pull Quotes */
  --color-pull-quote-text: var(--color-brown-grey);

  /* Gallery */
  --color-gallery-link: var(--color-white);
  --color-gallery-link-hover: var(--color-reddish-orange);
  --color-gallery-ad-label: var(--color-dirty-salmon);

  /* Footer */
  --color-footer-text: var(--color-black);
  --color-footer-link: var(--color-ceramic-blue);
}

/*  Base */
:root {
  @include color-group-light;

  /* Borders */
  --border-subtle: 2px dashed rgb(var(--color-border-subtle));
  --border-standard: 3px solid  rgb(var(--color-border-standard));
  --border-bold:   5px dashed rgb(var(--color-border-bold));
}

/*Dark and Light Groups */
.u-color-group-dark {
  @include color-group-dark;

}
.u-color-group-light {
  @include color-group-light;
}


