.button {
  @include typeface(small, 6);

  display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border-width: 0px;
	cursor: pointer;
  text-decoration: none;


  padding: var(--space-1) var(--space-4);
  color: white;
  background-color: rgb(var(--color-button-primary));
}

.button:hover {
  background-color: rgba(var(--color-button-primary-hover), var(--opacity-button-primary-hover));
}

.button.mod-secondary {
  color: rgb(var(--color-button-primary));
  border: 1px solid rgb(var(--color-button-primary));
  background-color: transparent;
}

.button.mod-small {
  font-size: var(--font-size-4);
}

.button.mod-large {
  font-size: var(--font-size-8);
}
