.schedule {
  display: flex;
  flex-direction: column;
  width: 100%;

  .schedule-metadata {
    align-items: center;
    background-color: rgb(var(--color-background-muted));
    display: flex;
    flex-direction: row;
    padding: 10px;

    .schedule-metadata-image {
      background: rgb(var(--color-background-muted));
      filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
      margin-right: 10px;
      max-width: 48px;
      min-height: 48px;
      min-width: 48px;

      @include media(">=medium") {
        min-height: 72px;
        min-width: 72px;
      }
    }

    .schedule-metadata-copy {
      flex: 1;
      display: flex;
      flex-direction: row;

      .schedule-metadata-copy-title {
        flex: 1;

        .schedule-metadata-copy-title-label {
          color: rgb(var(--color-primary-1));
          font-family: Open Sans;
          font-size: 11.237px;
          font-style: normal;
          font-weight: bold;
          letter-spacing: 1.2px;
          line-height: 16px;
          text-transform: uppercase;

          @include media(">=medium") {
            font-size: 12.64px;
            line-height: 20px;
          }
        }

        .schedule-metadata-copy-title-text {
          color: rgb(var(--color-text-metadata));
          display: flex;
          font-family: Open Sans;
          font-size: 14.2px;
          font-style: normal;
          font-weight: bold;
          line-height: 19px;
          text-align: left;

          @include media(">=medium") {
            font-size: 22.7812px;
            line-height: 34px;
          }
        }
      }

      .schedule-metadata-copy-time {
        align-self: flex-end;
        color: rgb(var(--color-text-muted));
        font-family: Open Sans;
        font-size: 11.237px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        min-width: 60px;
        text-align: right;

        @include media(">=medium") {
          font-size: 14.222px;
          line-height: 20px;
        }
      }
    }
  }

  .schedule-full-schedule-button {
    background: rgb(var(--color-primary-2));
    color: rgb(var(--color-text-inverse));
    font-family: Open Sans;
    font-size: 12.64px;
    font-style: normal;
    font-weight: bold;
    height: 56px;
    line-height: 56px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include media(">=medium") {
      font-size: 16px;
    }
  }
}