.m-social-follow {
  @include media(">=medium") {
    display: flex;
    flex-direction: column;
  }

  .follow-us {
    margin-right: 1em;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(">=medium") {
      justify-content: center;
    }
  }

  .social-buttons {
    display: flex;
    align-items: center;
    margin-left: -3px;
    justify-content: center;

    @include media(">=medium") {
      justify-content: start;
    }

    .button-icon * {
      fill: RGB(var(--color-text));

      a:hover {
        opacity: var(--opacity-button-hover);
      }
    }
  }

  .social-buttons > * {
    margin-left: 3px;
    margin-right: 3px;
    background: transparent;
  }
}
