.m-social-follow {
  @include media(">medium") {
    display: flex;
  }

  .follow-us {
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(">medium") {
      justify-content: center;
    }
  }

  .social-buttons {
    display: flex;
    align-items: center;
    margin-left: -3px;
    justify-content: center;

    @include media(">medium") {
      justify-content: start;
    }
  }

  .social-buttons > * {
    margin-left: 3px;
    margin-right: 3px;
  }
}
