.stream-switcher {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-left: 20px;
    width: 100%;

    @include media(">=xxlarge") {
        margin-right: 0px;
        padding-left: 0px;
        padding-top: 56px;
    }

    .stream-switcher-stations-label {
        @include typeface(body, 3);

        color: rgb(var(--color-text-print));
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 8px;
        text-align: left;
        text-transform: uppercase;

        @include media(">=xxlarge") {
            margin-left: 24px;
        }
    }

    .stream-switcher-streams {
        display: flex;
        flex-flow: row;
        margin-bottom: 40px;
        width: 100%;

        @include media("<xxlarge") {
            height: 125px;
            max-height: 125px;
        }

        @include media(">=xxlarge") {
            flex-flow: column;
            height: 100%;
            width: 230px;
            max-width: 230px;
        }

        // horizontal scroll with hidden scrollbar
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        // todo: hiding the scrollbar matches the design; is there a better way to do it, or is it something we actually don't want to do?
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .stream-switcher-streams-stream {
            background-color: rgb(var(--color-text));
            border: 3px solid transparent;
            display: grid;
            grid-template-columns: 56px 1fr;
            grid-template-rows: auto auto 1fr;
            height: 125px;
            margin-right: 16px;
            max-width: 230px;
            min-width: 230px;

            @include media(">=xxlarge") {
                margin-bottom: 16px;
                border-left: none;
            }

            &.is-active {
                border: 3px solid rgb(var(--color-text-error));

                @include media(">=xxlarge") {
                    border-left: none;
                }
            }

            .stream-switcher-streams-stream-title {
                @include typeface(body, 4);
                color: rgb(var(--color-background));
                font-weight: bold;
                grid-column-start: 1;
                grid-column-end: span 2;
                grid-row-start: 1;
                grid-row-end: span 1;
                margin-left: 8px;
                margin-top: 8px;
                pointer-events: none;
            }

            .on-air-image {
                height: 40px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: span 1;
                margin: 8px 8px 12px 8px;
                max-height: 40px;
                max-width: 40px;
                pointer-events: none;
                width: 40px;
            }

            .stream-switcher-streams-stream-show-title {
                @include typeface(body, 4);
                align-self: center;
                color: rgb(var(--color-background));
                font-weight: 600;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: span 1;
                pointer-events: none;
            }

            .up-next {
                align-items: center;
                border-top: solid 1px #fff;
                display: flex;
                flex-direction: row;
                grid-column-start: 1;
                grid-column-end: span 2;
                grid-row-start: 3;
                grid-row-end: span 1;
                pointer-events: none;

                .up-next-label {
                    @include typeface(body, 1);
                    color: rgb(var(--color-background));
                    margin-left: 8px;
                    opacity: 0.7;
                    pointer-events: none;
                    text-transform: uppercase;
                }

                .up-next-show-title {
                    @include typeface(body, 1);
                    color: rgb(var(--color-background));
                    font-weight: bold;
                    margin-left: 8px;
                    opacity: 0.7;
                    pointer-events: none;
                }

                .up-next-time {
                    @include typeface(body, 1);
                    color: rgb(var(--color-background));
                    flex: 1;
                    margin-left: 8px;
                    margin-right: 8px;
                    opacity: 0.7;
                    pointer-events: none;
                    text-align: right;
                }
            }
        }
    }

    &.is-playing,
    &.is-loading {
        .stream-switcher-streams .stream-switcher-streams-stream {
            &.is-active:hover {
                @include media(">=xxlarge") {
                    height: 125px;

                    .on-air-image,
                    .stream-switcher-streams-stream-show-title {
                        display: block;
                    }

                    .up-next {
                        display: flex;
                    }
                }
            }

            &.is-active {
                @include media(">=xxlarge") {
                    height: 36px;

                    .on-air-image,
                    .stream-switcher-streams-stream-show-title,
                    .up-next {
                        display: none;
                    }
                }
            }
        }
    }
}
