.whats-on {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 728px;

  @include media(">=medium") {
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
  }

  .whats-on-live-indicator {
    align-items: center;
    background-color: rgb(var(--color-background));
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 16px;
    justify-content: center;
    letter-spacing: 1px;
    margin-bottom: 8px;
    width: 51px;

    @include media(">=medium") {
      justify-content: left;
    }
    
    .whats-on-live-indicator-text {
      @include typeface(body, 1);

      color: rgb(var(--color-text));
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 16px;
      margin-right: 4px;
      text-transform: uppercase;
    }
  
    .whats-on-live-indicator-dot {
      background-color: #E74F4F;
      border-radius: 8px;
      height: 8px;
      width: 8px;
    } 
  }

  .whats-on-show {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media(">=medium") {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-rows: auto auto auto;
    }

    .on-air-image {
      border: 1px solid rgb(var(--color-text-muted));
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
      margin-bottom: 24px;
      max-height: 328px;
      max-width: 328px;

      @include media(">=medium") {
        max-height: 180px;
        max-width: 180px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: span 3;
      }

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    .play-button {
      align-items: center;
      background-color: rgb(var(--color-primary-2));
      margin-bottom: 24px;
      padding-right: 20px;

      @include media(">=medium") {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 182px;
      }

      svg {
        max-height: 54px;
        max-width: 54px;
      }

      .play-button-text {
        color: rgb(var(--color-background));
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.6px;
        text-transform: capitalize;
      }

      .play-button-text:after {
        content: 'listen';
        text-transform: capitalize;

        @include media(">=medium") {
          content: 'listen live';
        }
      }
    }

    .whats-on-show-title {
      @include typeface(header, 10);

      color: rgb(var(--color-primary-2));
      font-weight: normal;
      margin-bottom: 8px;
      text-align: left;

      @include media(">=medium") {
        font-size: 52px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        line-height: 60px;
        margin-bottom: 16px;
      }
    }

    .whats-on-show-description {
      color: rgb(var(--color-text));
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14.22px;
      margin-bottom: 24px;
      text-align: left;

      @include media(">=medium") {
        font-size: 18px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        line-height: 25px;
      }
    }
  }

  .whats-on-episode {
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    .whats-on-episode-segments,
    .whats-on-episode-description {
      background-image: linear-gradient(#EAEFF0,#EAEFF0);
      background-repeat: no-repeat;
    }

    .whats-on-episode-segments .whats-on-episode-segment .whats-on-episode-segment-text,
    .whats-on-episode-description .whats-on-episode-description-text {
      color: rgb(var(--color-text));;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;

      @include media(">=medium") {
        font-size: 18px;
        line-height: 25px;
      }
    }

    .whats-on-episode-segments {
      align-items: center;
      background-position: 4px top;
      background-size: 2px 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-top: 10px;

      @include media(">=medium") {
        background-position: 7px top;
      }

      .whats-on-episode-segment {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;

        .whats-on-episode-segment-dot {
          background-color: #EAEFF0;
          border-radius: 5px;
          height: 10px;
          margin-right: 10px;
          min-width: 10px;

          @include media(">=medium") {
            border-radius: 8px;
            height: 16px;
            margin-right: 10px;
            min-width: 16px;
          }
        }
      }
    }

    .whats-on-episode-description {
      align-items: center;
      background-position: 7px top;
      background-size: 2px 50%;
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
      padding-top: 20px;

      .whats-on-episode-description-dot {
        background-color: rgb(var(--color-primary-1));
        border-radius: 8px;
        height: 16px;
        margin-right: 10px;
        min-width: 16px;
      }
    }
  }

  .whats-on-schedule {
    display: flex;
    flex-direction: column;
    width: 100%;

    .whats-on-schedule-metadata {
      align-items: center;
      background-color: rgb(var(--color-background-muted));
      display: flex;
      flex-direction: row;
      padding: 10px;

      .whats-on-schedule-metadata-image {
        background: rgb(var(--color-background-muted));
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
        margin-right: 10px;
        max-width: 48px;
        min-height: 48px;
        min-width: 48px;

        @include media(">=medium") {
          min-height: 72px;
          min-width: 72px;
        }
      }

      .whats-on-schedule-metadata-text-outer {
        flex: 1;
        display: flex;
        flex-direction: row;

        .whats-on-schedule-metadata-text-outer-title-outer {
          flex: 1;

          .whats-on-schedule-metadata-text-outer-title-outer-label {
            color: rgb(var(--color-primary-1));
            font-family: Open Sans;
            font-size: 11.237px;
            font-style: normal;
            font-weight: bold;
            letter-spacing: 1.2px;
            line-height: 16px;
            text-transform: uppercase;

            @include media(">=medium") {
              font-size: 12.64px;
              line-height: 20px;
            }
          }

          .whats-on-schedule-metadata-text-outer-title-outer-title {
            color: rgb(var(--color-text-metadata));
            display: flex;
            font-family: Open Sans;
            font-size: 14.2px;
            font-style: normal;
            font-weight: bold;
            line-height: 19px;
            text-align: left;

            @include media(">=medium") {
              font-size: 22.7812px;
              line-height: 34px;
            }
          }
        }

        .whats-on-schedule-metadata-text-outer-time {
          align-self: flex-end;
          color: rgb(var(--color-text-muted));
          font-family: Open Sans;
          font-size: 11.237px;
          font-style: normal;
          font-weight: normal;
          line-height: 16px;
          min-width: 60px;
          text-align: right;

          @include media(">=medium") {
            font-size: 14.222px;
            line-height: 20px;
          }
        }
      }
    }

    .whats-on-schedule-full-schedule-button {
      background: rgb(var(--color-primary-2));
      color: rgb(var(--color-text-inverse));
      font-family: Open Sans;
      font-size: 12.64px;
      font-style: normal;
      font-weight: bold;
      height: 56px;
      line-height: 56px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @include media(">=medium") {
        font-size: 16px;
      }
    }
  }
}
