<div class="l-container l-container--10col">
  <div class="c-article-header__left c-article__share u-border-accent u-border-accent--right">
    {{yield (hash left=(component 'blank-template'))}}
  </div>

  <div class="c-article-header__center">
    {{yield (hash center=(component 'blank-template'))}}
  </div>
</div>

<div class="c-article__related c-article__related--wide-screens u-border-accent u-border-accent--left">
  {{yield (hash right=(component 'blank-template'))}}
</div>
