{{!-- BEGIN-SNIPPET nypr-o-article-header-top.hbs --}}
<div class="l-container l-container--12col u-spacing--and-half">
  {{yield (hash
    breadcrumb=(component 'nypr-m-breadcrumb')
    headline=(component 'nypr-a-story-headline' class='c-article__headline')
  )}}
</div>

{{yield (hash
  meta=(component 'nypr-o-article-header/meta')
)}}
{{!-- END-SNIPPET --}}
